[2015-09-14 01:27] #806 closed

[2015-09-14 01:47] #1022 closed

[2015-09-14 01:53] alexisabril commented on #1194
This was modified in CanJS 2.2.x to match the currently documented API. data & xhr are the only two arguments passed. Noting for review.

[2015-09-14 13:47] matthewp commented on #1700
[code]

Why is the hash on the right side?

[2015-09-14 15:54] alexisabril opened #1911 "can.events section to house can.batch, etc"
A potential new section, aside from can.util, to group event related documentation. Reference #778

[2015-09-14 15:54] #778 closed

[2015-09-14 16:34] #1194 closed

[2015-09-14 20:48] alexisabril commented on #745
@whitecolor You could use a subtemplate instead of a new component:

[code]

As an alternative, you could set the view model directly by using viewModel's function syntax:

[code]

Example: http://jsbin.com/kayeza/edit?js,console,output

[2015-09-14 20:48] #745 closed

[2015-09-14 20:53] akagomez commented on #1189
@daffl Can we fix this in 2.3? It's a very common "gotcha" for new CanJS devs. Related: https://github.com/bitovi/canjs/issues/1775

[2015-09-14 22:06] #1122 closed

[2015-09-14 22:18] alexisabril commented on #1488
Referencing #1254 as that information should be included in this update.

[2015-09-15 00:12] justinbmeyer commented on #1189
Not without breaking people's apps who rely on the behavior or adding more complex parsing rules.

Sent from my iPhone

[2015-09-15 00:42] dylanrtt opened #1915 "Asynchronous virtual properties cause extra recomputes"
In the following example, I create an async virtual `foo` property, and a `bar` property that depends on it. If you bind to `bar`, it computes once when `foo` is `undefined`, and then recomputes twice after `foo` is set (3 total times). It should only recompute/log one time after `foo` is set (2 total times).

[code]

Using stache binding:
http://jsbin.com/dagozulelu/edit?html,js,console,output

I

[2015-09-15 02:28] justinbmeyer commented on #1915
Certainly a bug.

Seems like there are 2 problems.  First, when `setVal` is called, it's not dispatching in a batch.

But the more important problem is likely when `this.attr('foo')` is being called ... it's actually setting up a binding on two things:

1. the "foo" property, which is correct.
2. the internal compute of the "foo" property, which is incorrect.  This is happening here: https://githu

[2015-09-15 02:32] justinbmeyer commented on #1908
@pYr0x It will be in 3.0. But we can't do that until then.  Perhaps we could make some type of configuration.  If you are interested in making that happen, let me know and I'll re-open the issue.

[2015-09-15 02:32] #1908 closed

[2015-09-15 02:33] justinbmeyer commented on #1874
Interesting.  I assumed it work would b/c `readonly` is configured here: https://github.com/bitovi/canjs/blob/minor/util/attr/attr.js#L47

[2015-09-15 02:36] justinbmeyer commented on #1874
@alexisabril this is probably pretty simple.  Although the test should probably take place in can/util/attr.  I would start there to make sure it's doing what it should be doing.

[2015-09-15 02:38] justinbmeyer commented on #1870
@akagomez Did you add this functionality already?  I felt like we talked about it.

[2015-09-15 02:39] justinbmeyer commented on #1872
Do this in minor.

[2015-09-15 02:39] akagomez commented on #1870
No, this is new to me.

Chris

On Monday, September 14, 2015, Justin Meyer <notifications@github.com>
wrote:

[2015-09-15 02:41] justinbmeyer commented on #1864
Closing for now ...

[2015-09-15 02:41] #1864 closed

[2015-09-15 02:41] justinbmeyer commented on #1862
@mjstahl @daffl is this "closed in a branch"?

[2015-09-15 03:03] justinbmeyer commented on #1866
This has nothing to do with routing.  It has to do with child "sections" being notified before their parent of a change.  I'm not sure how exactly to fix the problem.

The example is something like the following:

[code]

The problem is that the "child section" binding, the ones inside `page === "foo"` like `action === "edit"` are being called back before `page === "foo"` updates.  This means that

[2015-09-15 03:06] justinbmeyer commented on #1866
Unfortunately, the order of binding doesn't help anything.  This is because in this example the "action" event is fired before the "page" event.  So even though the `outer sections` are binding before `child sections`, the "action" event is still fired first.

[2015-09-15 03:10] justinbmeyer commented on #1865
So is the real problem here #1866 ?

[2015-09-15 03:26] dylanrtt commented on #1866
Ugh. I was hoping it was just a router bug and not such a deep problem. Here's a new jsbin that uses a `can.Map` instead of the router.

http://jsbin.com/kaxebezapi/edit?html,js,console,output

To workaround it, I basically did what you suggested and made a virtual property that is computed from both.

[2015-09-15 03:35] dylanrtt commented on #1865
I'm not sure how related it is. I did manage to reproduce it with just a `can.Map` like the other issue so it's also not related to the router.

http://jsbin.com/tapileheda/edit?html,js,console,output

The difference here is that only one property is changing.

[2015-09-15 04:08] alexisabril commented on #1619
Closed by b7c8769b26c4b56e866f5d5804c353693bd55ad3

[2015-09-15 04:08] #1619 closed

[2015-09-15 04:08] justinbmeyer commented on #1870
@akagomez you didn't work on making `.unbind()` unbind all event handlers?  I thought we looked at this and it was already working.

[2015-09-15 04:11] akagomez commented on #1870
I made `.unbind()` not error: https://github.com/bitovi/canjs/pull/1780#issuecomment-121241086

[2015-09-15 04:19] justinbmeyer commented on #1779
Reopening b/c I don't think this is a bug.  I think:

[code]

is actually more of a bug.

[2015-09-15 04:27] justinbmeyer commented on #1866
One solution might be to have a special type of event binding that takes into account the ordering of the binding when dispatching.

Essentially, we could look at the target of everything we are about to dispatch batch events to ... and sort by when the binding took place.  It would run in O( n log n ).

This way, regardless if you listened to page or action ... whichever compute listened first wo

[2015-09-15 05:31] DesignByOnyx commented on #1874
`readonly` attribute maps to `readOnly` property - could be a start...

[2015-09-15 15:21] savinger commented on #1189
Why would they rely on canjs to output markup different than what they declared?

[2015-09-15 15:31] daffl commented on #1189
This is similar to #1161 and #1134. The parser won't let you put block level elements within inline elements. We already changed this for links, I'm wondering if we should just turn that off completely since HTML5 seems to allow it in any case I tested.

[2015-09-15 16:09] justinbmeyer commented on #1189
Because people write markup like <li> without a closing tag pretty commonly.

Sent from my iPhone

[2015-09-15 19:36] justinbmeyer commented on #1699
There's a problem with the proposal.  Should `@foo` in:

`{helper @foo}`

with a context like:

[code]

be passed as a `compute` that returns `bar`, or the `bar` function itself?

[2015-09-15 21:09] alexisabril commented on #1575
This was fixed with: https://github.com/bitovi/canjs/commit/016d0089596a4279e37c1f5833f91a0beca597ed in v2.2.6

[2015-09-15 21:09] #1575 closed

[2015-09-16 03:32] mjstahl commented on #1862
@justinbmeyer I need to come back to this... for some reason, no matter what I do I can't get the tests to run on the CI.  They all run in the browser and on the command line just fine, but not in the CI.

[2015-09-16 08:50] pYr0x commented on #1699
i think you are right. it should return a compute.

But can you explain whats the difference between {{helper....}} and CallExpressions?

[2015-09-16 15:39] akagomez commented on #1189
Can we limit that behavior to the few tags that might take advantage of it? Or possibly make that feature configurable?

The way I see it, if we're going to aggravate one of the two types of users, I'd rather it be the experienced CanJS developer that decided to update and read the release notes.

[2015-09-16 19:07] justinbmeyer commented on #1189
I'd rather not break promises (SEMVER).  That aggravates everyone. So we can't change this until 3.0.  But yes, we can make it opt-in configurable before then.

[2015-09-17 02:58] alexisabril commented on #1677
@rjgotten I'm going to rephrase your thought a bit, but correct me if I'm wrong.

A confusing note is that this example is listening to the "change" event, which has new and old values passed as arguments. However, "remove" only passes elements that have been removed in the event, in the place of the old values argument.

[code]

[2015-09-17 03:36] justinbmeyer commented on #1677
Seems like the docs have it right, but the code has it wrong.  The `oldVal` argument with an "add" event should probably be `undefined`.

[2015-09-17 05:12] justinbmeyer opened #1931 "eq helper called twice"
Related to #1412.

If `eq` is used like:

[code]

If foo.length and bar.length were to change together in a batch, and stay the same, this helper would be called twice and cause unnecessary updating of the DOM.

The solution is to create a `can.compute()` that represents if `.fn()` or `.inverse()` should be called.  For example:

[code]

This way, `eq` is only called when the result of `callFn` ch

[2015-09-17 12:24] #672 closed

[2015-09-17 12:25] #1535 closed

[2015-09-17 12:25] #1488 closed

[2015-09-17 12:25] #1254 closed

[2015-09-17 12:26] #1129 closed

[2015-09-17 14:48] James0x57 commented on #269
Looks to be fixed.
http://jsbin.com/remujuziho/edit?html,js,output
[code]

[2015-09-17 14:48] #269 closed

[2015-09-17 15:21] matthewp opened #1932 "Rename ~ helper"
Because of #1699 we need to rename it. A few options:

[code]

[2015-09-17 15:25] matthewp commented on #1932
I like either `join` or `join-base` because that is what they do.  join-base is more accurate.

[2015-09-17 15:29] Alfredo-Delgado commented on #1932
Why not `{{baseUrl}}"img/foo.png"`?

[2015-09-17 15:33] matthewp commented on #1932
@Alfredo-Delgado So this would be a helper that simply returns the baseUrl as a string, doesn't do any joining, and use normal stache to do whatever you want?  Not a bad idea... going to think about that some more.

[2015-09-17 15:35] matthewp commented on #1932
Is the normal convention to kebab-case or camelCase helper names?

[2015-09-17 15:45] #704 closed

[2015-09-17 15:45] #1047 closed

[2015-09-17 15:45] #1294 closed

[2015-09-17 15:45] #1437 closed

[2015-09-17 15:45] #1677 closed

[2015-09-17 15:45] #1690 closed

[2015-09-17 15:45] #1703 closed

[2015-09-17 15:45] #1729 closed

[2015-09-17 15:45] #1867 closed

[2015-09-17 15:45] #1890 closed

[2015-09-17 15:46] mjstahl opened #1933 "Base is wrong (in minor) for the grunt connect task"
https://github.com/bitovi/canjs/blob/minor/Gruntfile.js#L118

[2015-09-17 15:48] James0x57 commented on #1837
This is all cleaned up and taken care of (and live):
http://canjs.com/docs/can.route.html
Talked with Ilya briefly to confirm he didn't intend to do anything else for this one.
Good to go, closing! (Thanks Ilya!)

[2015-09-17 15:48] #1837 closed

[2015-09-17 16:00] akagomez commented on #1714
Status:

- [x] The out of date documentation page has been removed (404: http://canjs.com/docs/can.List.prototype.sort.html)
- [ ] This example lacks a `comparator` definition:

[code]
- [ ] There is no documentation for how to accomplish for descending comparators (to which the current answer is, use a function)

[2015-09-17 16:29] #1933 closed

[2015-09-17 18:58] James0x57 commented on #1616
Sooo we need some discussion on this, via #1758

**_Points of argument:_**
**1)** The problem in #1758 says that if your can.List has a custom Map Type, pushing a new item which is already a map of some other type onto that list, you would expect the pushed item to be converted to the custom Map Type because the List's Map Type is set.

**2)** The problem in this issue ( #1616 ) is that concat was

[2015-09-17 19:24] matthewp commented on #1861
Why was this closed?  It's not fixed: https://github.com/bitovi/canjs/blob/minor/view/href/href.js

[2015-09-17 19:25] matthewp commented on #1861
Oh, maybe because I said "this is in minor" you thought I meant it was fixed in minor, I meant that the problem is in minor.

[2015-09-17 19:34] James0x57 commented on #1861
Oh! Sorry! It also it has the label "fixed in branch", which also might have been added by misread since I'm just noticing it wasn't added by you.

Is the fix just adding can/route to the steal list? I can take care of it real quick

[2015-09-17 19:35] matthewp commented on #1861
@James0x57 yep, that's all that's needed.

[2015-09-17 20:30] justinbmeyer commented on #1616
Can't we check the type?

Sent from my iPhone

[2015-09-17 21:31] justinbmeyer commented on #1616
To further clarify, should it be more like:

[code]

[2015-09-18 01:45] justinbmeyer commented on #1932
@Alfredo-Delgado That wouldn't work with `{{baseUrl}}../../path.png` sorta thing.  But a cool idea.  We could actually make `{{#join}}../../path.png{{/join}}` work.

@matthewp for now, I'm going to go with `joinBase`.  Most helpers are camelCase.  I'm going to make this change now b/c I need it for tests to pass.

[2015-09-18 03:16] shcarrico opened #1938 "can.isArray behaves differently using can.util.jquery vs can.util.domless"
jQuery implements the following for `isArray` checks

[code]
(delegates to native static method)

can.util.domless uses
[code]

This causes odd behavior, in that checks against a class that extends `Array` return `false` for the first case and `true` for the second. IE

[code]
[codepen](http://codepen.io/anon/pen/YyqaGL)

I ran into this because I was making fancy extended arrays, adding tree util

[2015-09-18 04:33] justinbmeyer commented on #1938
@shcarrico DOM-less should probably be using the ol' `Object.prototype.toString.call(arr) === "[object Array]"` trick if `Array.isArray` doesn't exist.

[2015-09-18 04:34] justinbmeyer commented on #1911
Can you elaborate on what this means?

[2015-09-18 04:35] #1848 closed

[2015-09-18 05:01] alexisabril commented on #1911
Just noting the reference issue #778 so we don't lose tracking of the comment below.

"It's under utils b/c that's where it's code is found. The same argument could be made for putting it under can.compute.  We should link to it from other pages, but it should stay in util.

Eventually, we should have an "can.events" that could house it."

[2015-09-18 09:35] rjgotten commented on #1938
@justinbmeyer
It should *absolutely* be using the `prototype.toString` method of determining whether a value is an array. The `instanceof Array` method fails where array data is communicated across window boundaries. (One window's `Array` is not another window's `Array`.)

[2015-09-18 16:24] mjstahl opened #1939 "can.List should implement a "reduce" method"

[2015-09-18 16:28] daffl commented on #1939
Instead of adding them all individually we should probably discuss adding Underscore/Lodash collection methods more.

[2015-09-18 16:51] mjstahl commented on #1939
Well I added a simple implementation and some tests.  If we decided to go a different route, that is completely fine. Just happen to need in a project so I made an implementation since we had to use lodash instead.

[2015-09-18 17:17] justinbmeyer commented on #1027
@moschel Can you clarify what you mean here:

Specifically "that value will get escaped" ... what value?  Escaped how?

[2015-09-18 18:36] daffl opened #1941 "can-submit should always prevent default"
You never want the form to submit if CanJS is handling it.

[2015-09-18 18:48] justinbmeyer commented on #1941
I mostly agree ... but this would be a breaking API change.  It's something we could do for `($submit)` however.

[2015-09-18 18:49] justinbmeyer commented on #1941
btw, for the chat app, use `can-enter` on the input

[2015-09-18 22:22] ilyavf opened #1942 "Can-event gets broken in production if method does not exist."
[code]

[This block] (https://github.com/bitovi/canjs/blob/master/view/bindings/bindings.js#L201) gets executed in development but is removed in production which causes an error in case a method does not exist.

In production because the line [206] (https://github.com/bitovi/canjs/blob/master/view/bindings/bindings.js#L206) is removed, execution goes further and line [259] (https://github.com/bito

[2015-09-19 02:48] marshallswain opened #1944 "2.3.0-pre.11: can.Component's inner Control not tearing down events"
It looks like event teardown for can.Component events object/can.Control is broken in the latest can.  Upgrading from 2.2.6 to 2.3.0-pre.11 we are now seeing issues with our project.

These events, which are part of the page-level component, do not get torn down when the element is removed:
'{viewModel.appstate} globalSearchReady': function(){}
'{window} resize':function(){}

So every time you vis

[2015-09-19 03:26] justinbmeyer commented on #1700
@matthewp So there, might be a need for parent after all.  Basically, I want a 1-way binding from a component property to `#ref`.  Something like:

[code]

Boo!  This makes me think that two-way binding might look like:

[code]

vs

[code]

Yarg.  I'm not sure what to do.  I thought about making

[code]

Do one-way from #ref to foo.  However, I don't like that.  I think we should stick to the key

[2015-09-19 03:46] justinbmeyer commented on #1700
Alternatively, we could use `{child}="parent"` for child->parent one-way binding.  Making `[{child}]="parent"` also work for 2-way.

[2015-09-19 03:51] justinbmeyer commented on #1700
An alternate to the alternate would be to use one of the following:

| Type                 | Example  |
|-------------------------|--------------------------|
| one way - viewModel - parent to child | `<my-comp child-prop{="parentProp"/>` |
| one way - viewModel - child to parent | `<my-comp child-prop}="parentProp"/>` |
| two way - viewModel - child to parent | `<my-comp {child-prop}="parentProp

[2015-09-19 04:07] justinbmeyer commented on #1700
Can't use & for reference because `{{&foo}}` is a mustache thing.  Damn.  Switching to `.

[2015-09-19 04:11] justinbmeyer commented on #1700
This almost makes me want to wait for 3.0 for references.  We can drop `{{&foo}}`.

[2015-09-19 06:51] ilyavf commented on #1944
Fixed with [this PR] (https://github.com/bitovi/canjs/pull/1945)

[2015-09-19 06:51] #1944 closed

[2015-09-21 23:14] Bajix commented on #1080
@justinbmeyer This was resolved in 2.2.0 but wasn't included within the milestone

[2015-09-21 23:14] #1080 closed

[2015-09-21 23:34] Bajix commented on #1343
@justinbmeyer Thoughts on getting this into the eventual roadmap? This is a very scary issue as it creates a scenario in which your bindings can break unexpectedly, for non-intuitive reasons.

[2015-09-21 23:35] #1238 closed

[2015-09-21 23:41] #1075 closed

[2015-09-22 00:12] justinbmeyer commented on #1343
Anything that isn't closed is still potentially on the roadmap. I'd like to solve it, but I have no immediate plans to fix it.

To be clear, the bindings "work" ... your page will result in the right thing, but there maybe undesirable side effects.

If you'd like to help, that can move it along almost immediately.

Another solution might be to apply all DOM changes at the end of a batch, in order.

[2015-09-22 01:04] Bajix commented on #1343
It appears this is slightly less broken on latest than 2.1.4.

2.1.4
http://jsfiddle.net/vt4L4ydu/

Latest:
http://jsfiddle.net/r0nmmfh8/

The 2.1.4 example wasn't actually resulting in the right thing, and was breaking computes, which had much wider ramifications. The latest branch doesn't seem to have this issue with computes, which is awesome.

I think you mixed up issues, and were thinking of

[2015-09-22 01:12] justinbmeyer commented on #1343
Ah, I was thinking of #1866 .

[2015-09-23 11:53] whitecolor opened #1950 "Issue with rendering in can 2.3pre"
In last version 2.3pre12 (and in others) strange incorrect rendering:

[code]
is rendered like:
![image](https://cloud.githubusercontent.com/assets/736697/10044323/5a328528-6213-11e5-9921-3b96e438ac26.png)

![image](https://cloud.githubusercontent.com/assets/736697/10044321/549e35c6-6213-11e5-9e28-3683be814db2.png)

[2015-09-23 11:55] matthewp commented on #1950
@whitecolor Thanks, I think this is the same as #1189, no?

[2015-09-23 11:57] whitecolor commented on #1950
@matthewp yes it is the same) coun't find it.

[2015-09-23 12:05] whitecolor commented on #1950
It seem the fix for now is to replace `<span>` with `<a>` that allows block elements inside.

[2015-09-23 13:25] justinbmeyer commented on #1343
@Bajix what's your email?  I'm sending you something to the email I have on file, but it bounced.  Can you email me at justin AT bitovi?  Thanks!

[2015-09-23 18:22] Bajix commented on #1343
It's Thomas@bajix.com

Sent from my iPhone

[2015-09-24 13:19] bakenbard opened #1952 "error when try send PUT request"
In model I define update url as:
[code]
when try to call save method of instance, I see in console
[code]
this url from browser address bar.
To solve this problem I commented one line in  makeRequest method:
[code]
and one line in ajaxMaker:
[code]
But this way does not look right.
What is purpose of this commands and how can I get rid of this problem?

[2015-09-24 17:21] justinbmeyer commented on #1952
Did you set your id property to "basket_id":

Model.extend({id: "basket_id" ....

And then change update to "PUT http://192.168.0.110/api/v1/basket/{id}"

Sent from my iPhone

[2015-09-25 03:19] justinbmeyer commented on #1700
Updated to what I think is the final syntax.

[2015-09-25 05:53] bakenbard commented on #1952
I already tried it, but it does not work :)
Because values of url in request params in method `sub` changing to `null`, but when lines commented out, `sub` works well and return correct url.

[2015-09-25 12:10] matthewp commented on #1700
Does this fix the Chrome warning about using `cloneNode` with Attributes?  There are two possible ways to fix this:

1. Create a new element and use innerHTML to set the attribute, just for the sake of getting it's Attribute node.  This is done [here](https://github.com/canjs/dom-patch/blob/master/src/setattribute.js#L23).
2. Rename these special attributes (which stinks to special case) into some

[2015-09-25 12:45] justinbmeyer commented on #1952
Can you paste the relevant parts of your model in a jsbin: http://jsbin.com/fuhawa/1/edit?html,css,js,output ?

I'll check it out.

[2015-09-25 12:47] justinbmeyer commented on #1700
@matthewp strangely I didn't notice an error.  Perhaps chrome removed it.  When you get latest minor, let me know if it happens to you.

[2015-09-25 13:32] boris-chernysh commented on #1952
http://jsbin.com/resowi/edit?html,js,console

[2015-09-29 15:34] mjstahl opened #1955 "Add support for drag-and-drop events in can.Component"
Add support for the following events:
`dragstart`, `dragenter`, `dragover`, `dragleave`, `drag`, `drop`, `dragend`

Can be added at the following line:
https://github.com/bitovi/canjs/blob/master/control/control.js#L322

[2015-09-29 19:15] smoothlikejazz opened #1957 "IE 8 using can.control without extend fails yielding "Object doesn't support this action""
Hi, so in using IE8 and upgrading to new steal, using can.Control({}) is no longer working, and throws an error of "Object doesn't support this action", by utilising "extend" , can.Control.extend({}), this will alleviate the issue.

I have ran the can.control tests for can version 2.2.5 and currently all 19 cases fail, placing the .extend, fixes most issues, yet 5 cases still fail with extend bein

[2015-09-29 19:18] matthewp commented on #1957
Thanks, I'm confused though, what about "can.Control({})" does ie8 have a problem with?

[2015-09-29 19:25] smoothlikejazz00 commented on #1957
No problem, thanks for you reply Matt,
So we have a lot of controllers created via var x= can.Control({...},{...});  and testing in IE8 when these lines are hit, IE is throwing an error stating "Object doesn't support this action",and browser halts; but then when updating with using can.Control.extend({...},{...});  is our current workaround that works works in IE8.

[2015-09-29 19:29] alexisabril commented on #1952
@boris-chernysh You'll need to change {id} to {basket_id} in your signature as well. This is actually a point of discussion as it's a bit confusing: http://jsbin.com/vewole/edit?html,js,console

[2015-09-29 19:31] alexisabril commented on #1950
Closing as a duplicate(this issue is referenced in #1189)

[2015-09-29 19:31] #1950 closed

[2015-09-29 19:38] matthewp commented on #1957
Are you importing `can` in that module?

[2015-09-29 19:41] smoothlikejazz00 commented on #1957
Not in this module directly.

[2015-09-29 19:50] smoothlikejazz00 commented on #1957
setting debug point right before, can.Control statement.

type of can.Control returns "function"

[2015-09-29 19:52] matthewp commented on #1957
I'm not sure that this is it (because can does exist) but try importing `can` into this module.  You should really always import your dependencies and not depend on them having already loaded.  Maybe can is only partially loaded when this module is called.

[2015-09-29 20:18] smoothlikejazz00 commented on #1957
Thanks for your help, ill try that, and also try upgrading our current version of can.

[2015-09-29 20:41] daffl commented on #1872
Closed via #1920

[2015-09-29 20:41] #1872 closed

[2015-09-29 20:41] daffl commented on #1874
Closed via #1920

[2015-09-29 20:41] #1874 closed

[2015-09-29 20:45] ccummings opened #1958 "can.each doesn't work if elements is missing `hasOwnProperty`"
If the parameter passed to `can.each` is missing the `hasOwnProperty` method, can.each errors.

An example is `sessionStorage` in IE8.

[2015-09-29 20:47] matthewp commented on #1958
Thanks, should keep a reference to `Object.prototype.hasOwnProperty` and use that.

[2015-09-29 21:09] daffl commented on #1942
This has been fixed via #1943

[2015-09-29 21:09] #1942 closed

[2015-09-29 22:16] justinbmeyer commented on #1957
Is this the console.log getting hit in `can.Construct`?

https://github.com/bitovi/canjs/blob/master/construct/construct.js#L496

What line does the error happen?

As of CanJS 2.0, you should always use can.Construct.extend.  CanJS 3.0 will likely enforce this.

[2015-09-29 22:18] justinbmeyer commented on #1957
http://canjs.com/docs/can.Control.html mentions that the `Constructor(proto)` signature is deprecated.  However, we should be using the @deprecated tag.

[2015-09-29 23:45] smoothlikejazz00 commented on #1957
We have updated our source code to use the new syntax. yet in our situation, we have customers using the old syntax for UI customisation and just want to make sure that our customer wouldn't have any issues.

after digging into the issue more, the console.log.apply is causing the error, stemmed from https://github.com/bitovi/canjs/blob/master/construct/construct.js#L496

in the snippet below in IE

[2015-09-29 23:59] smoothlikejazz00 commented on #1957
I have replaced the above code in can/util/can.js with the below code snippet and it is working now
[code]

[2015-09-30 00:38] matthewp commented on #1957
Great, mind sending a pull request then?

[2015-09-30 18:05] #1497 closed

[2015-09-30 19:03] kipwilliams opened #1960 "Improper Detection of deferred with can.List in can.View"
When resolving a deferred can.List "findAll().then( **lst** ) { ... }" the resolved object **lst** will contain a property **"_deferred"** which holds a deferred object.  The function **getDeferreds** in **can.view** will loop through the can.List's props including "_deferred" and detect it as a deferred.  This results in  can.view return value being a deferred instead of a document fragment.

[2015-10-01 07:16] rjgotten commented on #1957
`console.log` and its siblings are host functions in IE9 and below, which means they don't inherit from `Function` and don't have `call` or `apply` members themselves. There's a little trick you can perform though:

[code]
This should work in any browser and shaves off some bytes.

[2015-10-01 11:06] cherifGsoul opened #1961 "Documentation error on guides page"
In this [page ] (http://canjs.com/guides/Utilities.html) in the code example for can.capitalize is wrong the capitalize function is missing

[2015-10-01 13:04] whitecolor opened #1962 "After change of comparator @index in view stays the same for elements"
After change of comparator on the list - @index value in view stays the same for sorted elements:

[code]
after sort (using chage of `comparator` value I get:
[code]

Is it a feature or a bug?

[2015-10-01 14:17] justinbmeyer commented on #1962
Bug

Sent from my iPhone

[2015-10-01 19:13] alexisabril commented on #831
@isadovskiy I agree this is a bit tricky from the developer's perspective. Think of it this way: templated event handlers are really just shorthand for binding to events.

For example:

[code]

In the pseudo line, if player is replaced with a new object, we also lose the binding. This is actually what is happening in your example. If you add a call to [on()](http://canjs.com/docs/can.Control.proto

[2015-10-01 19:23] alexisabril commented on #1070
Closed by https://github.com/bitovi/canjs/commit/c5b30740a24c7d47da2c314987aa91e64734754b

Note: We don't actually document `init` in most places, although it's available on everything that inherits from can.Construct.

[2015-10-01 19:23] #1070 closed

[2015-10-02 02:54] alexisabril commented on #1052
@whitecolor Could you verify this is still an issue? That fiddle doesn't show an error currently, tested with v2.0.0, 2.1.0 & 2.2.9

[2015-10-02 02:57] #1037 closed

[2015-10-02 03:07] alexisabril commented on #1151
Closing as this is fixed in stache: ref #1142

[2015-10-02 03:07] #1151 closed

[2015-10-02 03:09] alexisabril commented on #1144
Closing as we now have an alpha inspector with its own repository: https://github.com/canjs/can-devtools

[2015-10-02 03:09] #1144 closed

[2015-10-02 03:38] alexisabril commented on #1109
This also exists in stache due to: https://github.com/bitovi/canjs/blob/minor/view/stache/expression.js#L329

Adding a test and leaving open while I verify if we should be checking for all falsey values, or just undefined.

[2015-10-02 03:44] alexisabril commented on #1394
Just noting this was not fixed via #1486

[2015-10-02 03:51] alexisabril commented on #1086
This was fixed in a prior merge in minor. Typo in the test, adding @matthewp's test to a PR.

[2015-10-02 12:42] matthewp commented on #1932
This is in minor.

[2015-10-02 12:42] #1932 closed

[2015-10-02 12:43] matthewp commented on #1683
This is now done-autorender.

[2015-10-02 12:43] #1683 closed

[2015-10-02 15:28] daffl commented on #1880
Closed via #1893

[2015-10-02 15:28] #1880 closed

[2015-10-02 17:24] matthewp opened #1966 "can-import: rename "as" to "export-as""
Going to keep it backwards compatible.

What this does in reality is export the property on the template's viewModel, so "export-as" is more appropriate than "as".

[2015-10-02 22:37] daffl commented on #1966
Closed via #1967

[2015-10-02 22:37] #1966 closed

[2015-10-04 17:10] lukewhyte opened #1968 "Losing context in can.compute callbacks"
Been working on a project with can, realized my version was old and bumped up to latest NPM release (v2.3.0-beta.1) and am now losing context in my compute callbacks. Eg:
[code]
Works fine when I switch to v2.2.9

[2015-10-04 17:32] justinbmeyer commented on #1968
@lukewhyte I'm  not sure what's happening, but that form of compute-on-a-prototype should not be used anymore.  Instead use a define.getter.  I'll make sure a deprecation notice gets added.

[2015-10-05 00:15] lukewhyte commented on #1968
thanks @justinbmeyer

[2015-10-05 17:58] matthewp opened #1969 "ie8 cannot use 'case' as a key"
unless quoted: https://github.com/bitovi/canjs/blob/minor/view/stache/mustache_helpers.js#L156

[2015-10-06 01:33] matthewp opened #1970 "Event binding syntax: functions applied with the wrong context"
Consider a template like:

[code]

Where doSearch is a function on the component's viewModel.  The value of `this` in doSearch should be the component's viewModel instance. Instead it is `window`.  The problem is here: https://github.com/bitovi/canjs/blob/minor/view/bindings/bindings.js#L257

There is no scopeData.parent property, it's undefined.  I believe this should be `scopeData.scope._context

[2015-10-06 01:43] justinbmeyer commented on #1970
I've fixed this in my branch.  There's a few context bugs that I've found.  I'll push what I have tomorrow.

[2015-10-06 02:15] justinbmeyer opened #1971 "expressions are caching Args computes in the wrong spots"
Something like:

[code]

breaks right now because the value for DOT (.) is being cached.  The caching needs to happen, but not the way it is happening.

[2015-10-06 12:43] matthewp opened #1973 "IE8: stache creating <scripts> has issues"
http://stackoverflow.com/questions/7090198/using-appendchild-with-ie-in-javascript

Needs to be caught here: https://github.com/bitovi/canjs/blob/minor/view/target/target.js#L156

If the node is a script we can only set the `text` property.

[2015-10-06 12:54] matthewp commented on #1973
Need to test, but it looks like IE8 might also start loading the script before it is inserted into the dom.

[2015-10-06 15:31] matthewp commented on #1973
## Issues

### scripts with text

The following will throw in IE8:

[code]

### scripts with src

IE8 will begin fetching/executing the script as soon as it is inserted into a fragment (not when inserted into the DOM like in most browsers).

[code]

[2015-10-06 17:21] matthewp commented on #1969
Fixed by https://github.com/bitovi/canjs/pull/1974

[2015-10-06 17:27] matthewp commented on #1973
Moved to https://github.com/donejs/autorender/issues/11

[2015-10-06 17:27] #1973 closed

[2015-10-08 14:47] scaryzet opened #1978 "Is there a way to assign the whole viewModel of a component on instantiation?"
I'm making a list-like component in my application and I would like to extract the list item into a separate child component. I've struggled for a while but found no way to assign viewModel of a component on instantiation.

Stripped example:

    can.Component.extend({
        template: '{{#items}}' +
                  // '<item data="{.}"></item>' + // (1) Can do this.
                  // '<item

[2015-10-08 16:31] justinbmeyer commented on #1978
For #1, I would avoid using @viewModel as your key.  I'd just call it "item" or something.  `@` is reserved.

But the easy solution is probably to use a viewModel function;

[code]

viewModel functions let you specify any crazy stuff you want.

[2015-10-08 16:31] #1978 closed

[2015-10-08 17:22] scaryzet commented on #1978
Thank you. I'll try that. My mistake I didn't read about viewModel in the docs: http://canjs.com/docs/can.Component.prototype.viewModel.html Pretty powerful, I like that.

[2015-10-08 21:08] JustinLove commented on #1700
Another way to do arrows, although I'm still not sold on arrows

[code]

[2015-10-08 21:29] justinbmeyer opened #1979 "#each doesn't work with else"
[code]

[2015-10-08 21:36] JustinLove commented on #1700
I've feel like I've got a solved on paper type solution to half the problem; limited by my rather recent approach to the problem. It has a quality of cohesion I've felt lacking elsewhere, likely biased by inventing it. No doubt some people will dislike this as much as I dislike the other options. ;^)

## Principles

### plain old html looks like plain old html

`prop=...` should be an dom property

[2015-10-08 22:24] justinbmeyer commented on #1700
@JustinLove I really like the idea that "." is reading from the element's viewmodel.  The rest of it I'm more ambivalent about.  Thanks for sharing!

Unfortunately however, this issue is closed (It was going figuratively until minor is in master).  I've implemented the proposal listed in the first issue and we've updated our DoneJS guides with this.  And I've begun the documentation. There's just

[2015-10-08 22:25] justinbmeyer commented on #1700
actually ... I'm going to close to signal an end to this debate.  If anyone wants to reopen, please start another issue for 3.0's binding syntaxes :-).

[2015-10-08 22:25] #1700 closed

[2015-10-09 13:08] whitecolor commented on #1800
Will it be fixed soon? The only thing that holds to migrate one of our projects to 2.3beta.

[2015-10-09 13:09] matthewp commented on #1969
Same for 'default'.

[2015-10-09 14:41] matthewp commented on #1969
Ok, fixed now.

[2015-10-09 14:41] #1969 closed

[2015-10-09 18:16] dylanrtt commented on #1800
@whitecolor The new [binding syntax](http://canjs.com/2.3-pre/docs/can.view.bindings.event.html) should allow this. I haven't tried it yet but you might be able to upgrade now.

[code]

The nice thing is the binding behavior will be controlled on the left side allowing you to do all kinds of mustachy stuff in the attribute value.

[2015-10-09 19:03] matthewp commented on #1800
Yes, please try with 2.3-beta and let us know.

[2015-10-09 22:06] justinbmeyer commented on #1800
@whitecolor I don't think 2.3 supports this yet.  I never changed the behavior of custom attributes to not be processed.  However, reverting this change should be possible now.  Please revert it and let us know.  It would be good to get this in 2.3 while there's still time.  Thanks!

[2015-10-10 10:55] whitecolor opened #1983 "`if` helper argument is undefined in 2.3"
Template case: `{{#book}}{{#if isOpend}}...{{/if}}{{/book}}`

`isOpened` is a function on the scope.
[code]
In 2.2. `isOpened` has `book` (current context) as first agrument and in 2.3 `isOpened` has no arguments passed, is it by design?

[2015-10-10 11:26] whitecolor commented on #1800
@dylanrtt @matthewp @justinbmeyer
I've checked on beta4 it doesn't work, error stack:
[code]

[2015-10-10 17:47] matthewp commented on #1983
Not intentional, it's a bug.

[2015-10-11 21:36] justinbmeyer opened #1984 "Event simple setter"
I'd like an easy way to set a property value from an event handler.

Currently this sorta thing works:

[code]

But that kinda stinks.  Here's two other possibilities:

#### Option 1

If you call a function that doesn't exist, but does match an attribute:

[code]

Cons - this won't work well if `name` is a function.

#### Option 2

Use hash expression:

[code]

Cons - double equal

## Test for opt

[2015-10-12 21:22] dylanrtt opened #1985 "Returning 0 from a helper displays nothing"
Not sure if this has been reported already, but I think returning the number 0 from a helper should display the 0. It currently displays nothing. I'm guessing there is a truthy check on the helper's output.

[code]

http://jsbin.com/helasubejo/edit?html,js,output

[2015-10-13 00:40] DesignByOnyx commented on #1985
There is a truthy check here: https://github.com/bitovi/canjs/blob/master/view/stache/mustache_core.js#L535

We need to make sure this wouldn't be a breaking change as some authors might return 0 with the intent of *give me an empty string*.

[2015-10-13 01:02] justinbmeyer commented on #1985
This is a bug.  Returning 0 to get an empty string wouldn't make sense and its not documented that way so it's ok to change prior to 3.0.

[2015-10-13 04:43] asavoy commented on #1985
This would be the stache equivalent to this mustache issue: https://github.com/bitovi/canjs/issues/1109

[2015-10-13 22:12] DesignByOnyx commented on #1109
Hey @alexisabril - I have fixed Stache already (haven't pushed yet) and know where to fix this one. Do you want me to go ahead and do it?

[2015-10-14 01:23] alexisabril commented on #1109
@DesignByOnyx Yeah, merge in that test I wrote(or copy it) and we should be good.

[2015-10-14 10:10] whitecolor commented on #1984
time for JSX

[2015-10-14 17:34] matthewp commented on #1843
This is fixed in minor.

[2015-10-14 17:34] #1843 closed

[2015-10-14 20:11] julia-allyce opened #1988 "case statement in a switch does not re-evaluate"
Using the latest canjs, switch seems to fail removing the case block that has an if/else block.

![routing-rendering2](https://cloud.githubusercontent.com/assets/1000574/10496061/efc0ccd8-728c-11e5-815b-fad965c652c3.gif)
## stache template
[code]
## app.js
[code]

[2015-10-14 20:18] matthewp commented on #1988
Can you open a donejs issue that simply points to this one and assign it to me.

[2015-10-15 00:18] daffl opened #1989 "isArrayLike needs to check for object type"
When passing a non-object (e.g. boolean) `can.each` fails where it previously did nothing. This is due to the fix in c9a9a84a7e72ccea86939ae2f64f9e83feaf193b (using the `in` operator on a non-object will fail). The complete statement should be:

[code]

[2015-10-16 20:13] matthewp commented on #1988
@julia-allyce I tried to recreate the bug here https://github.com/bitovi/canjs/commit/bbb25cc76f3c0628f244968b6c90906137a1c9ce but am not seeing the same thing.

Are you sure you have the latest donejs?  If you just did an `npm install donejs -g` you actually have an older version.  Since we are on a prerelease you have to do `npm install donejs@0.5.0-pre.16 -g`.

[2015-10-16 20:33] julia-allyce commented on #1988
I was not using donejs at all actually. Just steal and canjs.

[2015-10-16 22:42] daffl commented on #1989
This has been closed in #1990

[2015-10-16 22:42] #1989 closed

[2015-10-17 02:01] dylanrtt opened #1994 "Component bindings do not always update in stache"
This is a bit tricky to explain so you should just look at the jsbin.

http://jsbin.com/naroyawoya/edit?html,js,console,output

[code]

When the above 'view' block is first rendered, the value of `page` is somehow cached so that all subsequent renders of the `<foo-bar>` component receive the original value, despite the fact that the displayed `{{page}}` in the same block is changing as you switch

[2015-10-17 02:05] justinbmeyer commented on #1994
Thanks for submitting.  Anyway you can get it to break without components and can/route?  Just templates and maps.  Thanks!

[2015-10-17 02:06] dylanrtt commented on #1994
It's not using can.route. Just maps and components.

[2015-10-17 02:06] justinbmeyer commented on #1994
ah, read page and assumed.  Can you remove the component?

[2015-10-17 02:08] justinbmeyer commented on #1994
btw, a binding like:

[code]

Is going to give strange results.  Any reason you are using that instead of:

[code]
<foo-bar page-name="{page}"></foo-bar>
[code]

[2015-10-17 02:12] dylanrtt commented on #1994
I haven't upgraded to the new pre versions yet because I've been really busy. It seems odd that doing `page-name="{{page}}"` is not supported. If so, I would have to go back and update older code.

The jsbin uses minor but this happens in much older versions as far as I can tell. I just did some testing and it happens in 2.2.6 but not 2.2.5.

[2015-10-17 02:19] justinbmeyer commented on #1994
@dylanrtt it is supported, but it sets up a binding on an attribute value ... not a direct binding to the scope.    It can only bind to `string` values ... and isn't synchronous as attribute events are fired next-turn.

[2015-10-17 02:29] dylanrtt commented on #1994
I recognize the value in using the new syntax for 1-way bindings (especially being able to pass non-strings), but I wouldn't expect those cons to cause this issue. I haven't had any other problems with this syntax before besides having to wait a frame for components to see the change. In this case, the change is never occurring.

[2015-10-17 02:51] justinbmeyer commented on #1994
I don't really either, but things to eliminate.  We aren't going to be able to look at it until next week so I'm trying to share ideas on things to try to isolate the problem so it will be faster when we have time to look at it.

[2015-10-17 03:09] dylanrtt commented on #1994
Well the new syntax does work seemingly without this issue, so I'll just be converting to the new syntax anytime I encounter this problem.

[2015-10-17 03:11] justinbmeyer opened #1995 "Warn on miss-matched quotes"
I wrote `{(foo})` and it took me too long to figure out.  Lets let people know.

This can be done by changing the regular expression to account for these types of attributes:

https://github.com/bitovi/canjs/blob/minor/view/bindings/bindings.js#L549

And then change `attributeNameInfo` https://github.com/bitovi/canjs/blob/minor/view/bindings/bindings.js#L386 to check for miss-matches like:

- `{(f

[2015-10-17 06:57] dylanrtt opened #1996 "New bindings do not always update the scope"
Version: `v2.3.0-beta.6`

http://jsbin.com/gakibebibu/edit?html,js,console,output

Using `can-value="foo"` or `{($value)}="foo"` on a text input, if I blank out the text box to an empty string, the scope is not updated. Instead, the old value remains. In some cases in my app, it would immediately update the element with the old value but I couldn't easily reproduce that here.

[2015-10-17 13:54] justinbmeyer commented on #1996
good find. I'll fix this right now.

[2015-10-18 17:14] whdigger opened #1998 "Language selection guides"
I can help do it translate into Russian language. Would it be possible to put on the site for language selection guides?

[2015-10-18 18:16] justinbmeyer commented on #1998
@whdigger Thanks for offering to help.  We are going to release a new guide with 2.3.  At that point, getting a russian translation would be great.  Thanks!

[2015-10-18 18:51] whdigger commented on #1998
For translate I need to fork the project, checkout v2.3.0-pre.13, and translate folder guides, and later send pull request
Tell me how to generate the html page via documentjs `./node_modules/.bin/documentjs`  which must be the generation of project files?

[2015-10-19 16:41] whitecolor commented on #1998
@whdigger *facepalm* learn english http://babeleo.com
kiddin`

[2015-10-19 17:59] whdigger commented on #1998
@whitecolor I feel you want to help me?

[2015-10-19 18:11] matthewp opened #2000 "Upgrade can/view/import tests to use new binding syntax"
https://github.com/bitovi/canjs/blob/minor/view/import/import_test.js

[2015-10-19 19:11] dylanrtt commented on #1865
This appears to now be fixed in minor as a result of the bindings rewrite.

[2015-10-19 19:11] #1865 closed

[2015-10-19 19:23] whitecolor commented on #1998
@whdigger ping me on skype alex.oshchepkov

[2015-10-19 19:58] dylanrtt opened #2001 "Stache #each teardown throws an error on observable functions"
I don't know if this was an intentional feature, but you used to be able to do `#each` on a viewmodel's observable prototype function. For example:

[code]

http://jsbin.com/leladosese/edit?html,js,console,output

You still can, but the teardown throws an error on [live.js#L442](https://github.com/bitovi/canjs/blob/09261099525648b14997b08e657a8994baa498fc/view/live/live.js#L442) because the functi

[2015-10-19 21:01] justinbmeyer commented on #2001
Looks like a bug.  I'll take a look in 20 min.  Thanks!

[2015-10-19 21:35] justinbmeyer commented on #2001
So, it seems like the problem is calling .empty() right?  This issue makes it sound like you can't do `#each`.  You can do `#each`, just the tearing down isn't working right?

[2015-10-19 21:52] dylanrtt commented on #2001
Yes, that's correct. Sorry for not clarifying.

[2015-10-19 22:35] justinbmeyer commented on #2001
So there is something I would like to get rid of, but can't until 3.0.

Basically, the current behavior is to call functions if they are on a `can.Map`, but not to call functions if they are not.

Fortunately, `call expressions` clean this up by always calling functions.

In 3.0, we will probably clean this up, or make `helper expressions` adopt `call expression` behavior entirely.

For now, I'm g

[2015-10-19 22:42] zkat commented on #1218
👋

[2015-10-19 22:42] #1218 closed

[2015-10-19 22:43] #881 closed

[2015-10-20 11:57] scaryzet opened #2004 "can.jquery.dev.js doesn't include dev parts of code"
can.jquery.dev.js doesn't actually include dev parts of code. I also tried to build canjs manually but got the same result.

I wanted the class naming (via eval) chunk of code in can.Construct.extend. Had to insert it by hand into my can.jquery.js. Why it is even stripped out in non-dev builds? I know eval is evil and stuff... But console.log is much less convenient without proper class names.

We

[2015-10-20 12:35] scaryzet opened #2005 "Teach can.Component.extend respect can.Component.defaults"
Feature request: Teach can.Component.extend respect can.Component.defaults, or something like that.

It would allow to set `leakScope` to false globally. Currently it seems you can't do that. And you can't extend Components from Components. A custom "component-creator" function which merges options would do but that's ugly.

[2015-10-20 13:16] justinbmeyer commented on #2004
There are run times that don't support eval. We want to support those runtimes.

Sent from my iPhone

[2015-10-20 17:36] alexisabril opened #2006 "sort plugin: comparator set on init does not keep list sorted"
http://jsbin.com/wugefa/edit?html,js,console

Sort plugin works in 2.3.0-pre.1, but fails in 2.3.0-beta.6

[2015-10-20 18:11] alexisabril commented on #2006
This is due to the removal of `delete this._init` on: https://github.com/bitovi/canjs/commit/8b333ab#diff-532d6324975f398d1901af12e9086953L110

Note: this._init has also been renamed to this._initializing.

Re-adding that line fixes this issue, however breaks https://github.com/bitovi/canjs/blob/minor/list/sort/sort_test.js#L451

[2015-10-21 07:54] pYr0x commented on #1740
so hello again ;)

i would like to pick up this issue again.

i have made a example where a component is listen to events on the viewModel.

http://jsbin.com/lakefonulo/edit?js,console,output

in this example you can see how to write event-listener for different properties in the viewModel.
* can.List
* normal key - value property

the event-listener work fine.
can we add this example in the compo

[2015-10-21 08:02] pYr0x opened #2007 "stache does not update view with can.List and deep properties"
on checking out how to listen to viewModel-changes in components event object (https://github.com/bitovi/canjs/issues/1740) i found a bug.

in this example http://jsbin.com/lakefonulo/edit?js,console,output the "mylist" item 0 is changed to "Hello" but the view is not updated.

[2015-10-21 15:14] daffl commented on #1740
This is showing all the correct events right? I agree, it would make a good example, so if you would like to add it, http://canjs.com/docs/can.Component.prototype.events.html (by editing https://github.com/bitovi/canjs/blob/master/component/events.md) is probably the best spot. Can you submit a PR?

[2015-10-21 15:22] justinbmeyer commented on #1740
Just an FYI:

- Computes on the prototype are deprecated.  So `'foo': can.compute(0),` shouldn't be done.
- In general, using events on an "events" object should be avoided.  The define plugin on the viewModel can almost always be used instead.

[2015-10-21 15:37] #1996 closed

[2015-10-21 19:01] pYr0x commented on #1740
@justinbmeyer I can't listen to add items to a can.List in the define plugin. The set-function would not trigger if I push a item. You can try this on my example above..

[2015-10-21 19:52] dhs3000 opened #2010 "Create new Model or delete causes JSON parse error"
My REST service returns 210 Created with the new URL when a new model is posted to the service. The can.js Model expects a JSON datatype.

Same for DELETE, my REST service returns just 200 OK, can.js expects me to return JSON.

If this is not an intended behavior, maybe "ajaxMaker" in Model should call "ajax" with an expected datatype for the "ajaxMethod".

[2015-10-21 20:14] justinbmeyer commented on #2010
@dhs3000 Thanks, but I'm not sure what error you are reporting exactly.  Are you saying if someone does something like:

[code]

And the server returns JSON like: `{"id": 5}`, can.Model is breaking?  I think that's unlikely.  We do that all the time w/o any problems.  We do it so often, that I suspect you mean something different.

Thanks again!

[2015-10-21 20:19] justinbmeyer commented on #2010
I originally misread what this issue was saying.

Yes, it's expected that a model like:

[code]

MUST return JSON.  I do think setting the `dataType` property makes sense.

[2015-10-21 20:21] justinbmeyer commented on #2010
It seems like it's already set to default to 'json':

https://github.com/bitovi/canjs/blob/master/model/model.js#L85

https://github.com/canjs/can-connect/blob/master/src/data/url/url.js#L231

If this is the case, the parse error should be given.

[2015-10-21 21:02] dhs3000 commented on #2010
Yes, the default datatype seems to be "JSON".

As far as I understand neither DELETE nor POST are expected (by REST standards) to return any data. (Post might return an Location header to the newly created resource.)

If I have a Model with

  destroy: "DELETE /things/{id}"
},{})

in the moment the REST service must return a dummy JSON as otherwise it causes a parse error.

[2015-10-21 21:19] justinbmeyer commented on #2010
That's correct.  There's two reasons for this:

1. When JMVC/CanJS was being originally designed, getting some servers to do everything REST-fully was not easy.  Not nearly as easy as returning some JSON data to signal the ID.

2. There's occasions where the `location` header is not enough.  For example, sometimes there's additional information that gets added to a type when it is created.  For ex

[2015-10-21 21:22] justinbmeyer commented on #1740
@pYr0x yeah, figuring out how define would work with can.List is one of the big remaining holes in the CanJS army.

[2015-10-21 21:30] pYr0x commented on #1740
@justinbmeyer i am wondering, you have created this weapon ;) so you know best how to handle this :)
as you said: "using events on an "events" object should be avoided". do you have a alternative for listening for change or add events on a can.List

[2015-10-21 21:31] justinbmeyer commented on #1740
@pYr0x Why are you listening to events on the list?

[2015-10-21 22:12] pYr0x commented on #1740
@justinbmeyer for sideeffects...

i pushed multiple objects into a list in a component.
``{id: 0815, name: 'foo'}``
on each push i want to take ID value and pushed this ID into an other list (named: ids) in the component.
the ids-list is an can.List with all IDs. this list i need for an ajax request.

actual i do somthink like this:
``
saveTour: function(el, ev){
            ev.preventDefault();

[2015-10-21 22:30] justinbmeyer commented on #1740
@pYr0x I'm confused why you have to listen to `this.stations`.  Why do you need to keep that derived list always available and not simply generate it when `saveTour` is called?

So, this is what `can-derive` is attempting to solve cc @akagomez .

The performance of can-derive isn't better than just re-creating a list until you probably have about 500 items.

To re-create the list, you could curren

[2015-10-22 06:32] dhs3000 commented on #2010
Thank you for response.

I understand the `POST` expecting JSON, it makes sense now :) It might be too much _magic_ trying to _guess_ the `id` and the second request to load the data is not efficient. I didn't think so far.

But, I couldn't find it in the documentation - maybe I was looking at the wrong one, I looked at the main Model documentation page. [Here](http://canjs.com/docs/can.Model.crea

[2015-10-22 15:09] justinbmeyer commented on #2010
@dhs3000 if you are just starting, I'd take a look at http://connect.canjs.com/.  It's not officially released yet, but it will be what we start migrating people to very shortly.

It's very similar to `can.Model`, and even has a [backwards compatible api](http://connect.canjs.com/doc/can-connect%7Ccan%7Cmodel.html), but it's far more powerful, and uses mixins instead of inheritance.

By powerful,

[2015-10-22 16:28] #1979 closed

[2015-10-22 16:28] #2006 closed

[2015-10-22 16:38] daffl commented on #779
Closing since I don't think there is much we can do.

[2015-10-22 16:38] #779 closed

[2015-10-22 16:39] daffl commented on #800
This is fixed in 2.3.0.

[2015-10-22 16:39] #800 closed

[2015-10-22 16:40] daffl commented on #753
We are planning to go through all inline docs and code organization for 3.0.

[2015-10-22 16:40] #753 closed

[2015-10-22 16:43] daffl commented on #871
This is fixed in 2.3.0

[2015-10-22 16:43] #871 closed

[2015-10-22 16:43] daffl commented on #920
New fixtures + tests are now located at https://github.com/canjs/can-connect so I'm closing this one.

[2015-10-22 16:43] #920 closed

[2015-10-22 16:45] daffl commented on #1042
This will also be closed with the imminent 2.3 release.

[2015-10-22 16:45] #1042 closed

[2015-10-22 16:47] daffl commented on #1052
I couldn't reproduce as well. Closing this issue, please reopen if it still persists in minor.

[2015-10-22 16:47] #1052 closed

[2015-10-22 16:48] daffl commented on #1058
This functionality is supported in https://github.com/canjs/can-connect, so we can move the discussion there.

[2015-10-22 16:48] #1058 closed

[2015-10-22 16:48] daffl commented on #1057
This functionality is supported in https://github.com/canjs/can-connect, so we can move the discussion there.

[2015-10-22 16:48] #1057 closed

[2015-10-22 16:49] #1086 closed

[2015-10-22 16:50] daffl commented on #1102
This is included in 2.3.

[2015-10-22 16:50] #1102 closed

[2015-10-22 16:51] #1220 closed

[2015-10-22 16:52] daffl commented on #1255
Also merged and included in 2.3.

[2015-10-22 16:52] #1255 closed

[2015-10-22 16:55] daffl commented on #1473
In 2.3 we also have call expressions.

[2015-10-22 16:55] #1473 closed

[2015-10-22 16:58] daffl commented on #1705
Closed via #1718

[2015-10-22 16:58] #1705 closed

[2015-10-22 16:59] daffl commented on #1706
Closed via #1718

[2015-10-22 16:59] #1706 closed

[2015-10-22 16:59] daffl commented on #1707
Closed via #1718

[2015-10-22 16:59] #1707 closed

[2015-10-22 16:59] daffl commented on #1716
All documentation should be up-to date now.

[2015-10-22 16:59] #1716 closed

[2015-10-22 17:00] daffl commented on #1744
Yes, this is closed.

[2015-10-22 17:00] #1744 closed

[2015-10-22 17:01] daffl commented on #1757
Just verified that this is fixed.

[2015-10-22 17:01] #1757 closed

[2015-10-22 17:04] daffl commented on #1830
This is now in a separate module at https://github.com/canjs/can-interrupt

[2015-10-22 17:04] #1830 closed

[2015-10-22 17:05] daffl commented on #1856
We will make sure that we do official pre-releases in the next minor/major version.

[2015-10-22 17:05] #1856 closed

[2015-10-22 17:07] daffl commented on #1887
Closed via ##1889

[2015-10-22 17:07] #1887 closed

[2015-10-22 18:57] #1783 closed

[2015-10-22 18:57] #1835 closed

[2015-10-22 18:57] #1862 closed

[2015-10-22 18:57] #1938 closed

[2015-10-22 18:57] #1955 closed

[2015-10-22 18:57] #1998 closed

[2015-10-22 18:57] #2001 closed

[2015-10-22 19:29] daffl commented on #1103
This has been added in 2.3 (but is already deprecated in favour of the `routeCurrent` and `routeUrl` helpers).

[2015-10-22 19:29] #1103 closed

[2015-10-22 19:30] daffl commented on #1111
I think we can move this discussion into https://github.com/canjs/can-validate

[2015-10-22 19:30] #1111 closed

[2015-10-22 19:33] daffl commented on #1213
This is available in https://github.com/canjs/can-connect

[2015-10-22 19:33] #1213 closed

[2015-10-22 19:36] daffl commented on #1353
This seems to be fixed in minor.

[2015-10-22 19:36] #1353 closed

[2015-10-22 19:37] daffl commented on #1362
This can be done in 2.3.0 with the new view bindings (http://canjs.com/2.3-pre/docs/can.view.bindings.html)

[2015-10-22 19:37] #1362 closed

[2015-10-22 20:18] daffl commented on #1005
This should be in https://github.com/canjs/can-animate now right?

[2015-10-22 20:18] #1005 closed

[2015-10-22 20:26] pYr0x commented on #1255
sorry... cant find this feature in repo

[2015-10-22 20:28] daffl commented on #1255
In minor (and the 2.3 I'm just wrapping up) you can find it here: https://github.com/bitovi/canjs/blob/master/compute/proto_compute.js and as `can.Compute`.

[2015-10-22 20:57] James0x57 opened #2015 "svgEl.className is readOnly so live binding does not work"
SVG elements class name is readOnly so the only way to set it is to use
svgEl.setAttribute( "class", "..." );

This means that this:
&lt;svg class="{{#if cond}}liveBoundClassName{{/if}}">&lt;/svg>
does not work.

[2015-10-22 21:20] justinbmeyer commented on #1255
@pYr0x it's not documented.  I'm not sure if it will be.  Currently it's for internal use only.  It's a bit faster then `can.compute`, but not enough to make it worth it for everyone to use.

[2015-10-22 23:46] #1109 closed

[2015-10-22 23:46] #1985 closed

[2015-10-23 00:33] dylanrtt commented on #1854
Seems to be fixed in minor.

[2015-10-23 04:23] Daniel-Hug opened #2018 "Dead links"
Dead links:
 - [ ] https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/tutorial.md#L114
 - [ ] https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/setup.md#L16
 - [x] https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/setup.md#L99
 - [ ] https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/stache-templa

[2015-10-23 08:30] dhs3000 commented on #2010
Thanks, I will look take a look at, sounds interesting.

[2015-10-23 08:30] #2010 closed

[2015-10-23 20:56] dylanrtt opened #2020 "New bindings updating the scope when created"
With the recent changes to how bindings work, there has been a new addition which allows an element (e.g., form control, component) to update the scope if the element has a value and the scope does not (with 2-way bindings). This happens on [bindings.js#L539](https://github.com/bitovi/canjs/blob/4451caf880f7fbd183f5f86c354217baa5abb459/view/bindings/bindings.js#L539) when the binding is created.

[2015-10-23 21:07] matthewp commented on #2020
A whole lot of both thought and discussion was put into it. And it is on the table for 3.0, not for 2.3, but 3.0 is next. That's why we released this now, because we know it's a big change and want to get feedback on how it works in practice and make adjustment if needed in 3.0.

But to answer some of your question, correct me if I'm wrong but it sounds like you want one-way binding behavior, you

[2015-10-23 21:10] justinbmeyer commented on #2020
@dylanrtt a decent amount of thought has been put into this.  Two way binding values to the references scope is an important and commonly used feature in many of the apps that have begun to use it.

So there's a need for this.

With giving people the ability to control the directions of bindings, most scenarios where this is a problem (child has a value that you actually want to set to `undefined`

[2015-10-23 22:26] dylanrtt commented on #2020
@justinbmeyer I think this behavior makes perfect sense for the references scope, but updating the parent viewmodel is a different subject and increases complexity of an app, which is perhaps part of why you were originally against `{^child}="parent"` bindings.

Sorry if I'm not very forgiving of breaking changes, but I have used CanJS for a little over a year now and I can't even count the number

[2015-10-23 22:57] Psykoral opened #2022 "References of 'can' not locally scoped in modules"
<pre>>> Error: define: Can't find variable: can </pre>

Observed in https://github.com/bitovi/canjs/releases/tag/v2.3.0 by PhantomJS running a build with:
<pre>window.GLOBALCAN = false;</pre>

Confirmed that setting window.GLOBALCAN = true / not setting window.GLOBALCAN resolves the issue.

The issue is found in these files:
* https://github.com/bitovi/canjs/blob/master/map/map_helpers.js#L6
* htt

[2015-10-23 23:18] justinbmeyer commented on #2020
@dylanrtt I'm sorry about those breaking changes.  And, I appreciate you voicing your concern.

I don't think there's any cases since 2.0 where we have broken documented features.

But, I admit that we've played fast and lose with undocumented features.  The lack of documentation isn't a connivence.  If things are not specified, it's often for a reason.  We are unsure of the behavior.

Most of the

[2015-10-23 23:28] justinbmeyer commented on #2020
Also, what you are experiencing is a bit by design (though I want to be getting ever more stable).  Instead of releasing 3.0 with HUGE changes from 2.0 (like angular 1.0 to 2.0), we make a lot of stepwise changes.  It's annoying more often, but when stretched out, we think it's much more likely those updates happen.

3.0 will be largely backwards compatible to 2.3.  Ideally, they will be the same

[2015-10-24 06:29] Daniel-Hug opened #2025 "bug in tutorial app"
On http://www.place-my-order.com/restaurants selecting a state and city works just fine.
but none of the chapter demos in [/guides/examples/PlaceMyOrder](https://github.com/bitovi/canjs/tree/master/guides/examples/PlaceMyOrder) work. After selecting a state "Choose a City" becomes the only option in the city `<select>`.

Following the tutorial instructions didn't work for me either.

[2015-10-24 17:12] justinbmeyer commented on #2020
One more thing ... hopefully final ...

I think what could help a lot is breaking up CanJS into individual projects.  If you could have different versions of `can.Component` and `can.stache`, it's probable you could upgrade one for bug fixes without the other.

This way bug fixes wouldn't have to be bundled with feature or breaking changes.

I think it's possible to still have a core "can" that in

[2015-10-24 19:03] pYr0x commented on #1834
do not get the problem...

so i created a jsbin
http://jsbin.com/xehapumixe/2/edit?html,js,console,output

@dylanrtt  can you explain the problem at the example?

btw:
there is a difference behaviour on firefox and chrome
* in chrome the select-element is blank at the first time
* in firefox the select-element shows the first option-element

[2015-10-24 19:06] justinbmeyer opened #2026 "3.0 Changes"
I'd like this issue to be a super issue to track all 3.0 major changes.
## 3.0 Goals

Primary goals:
- establishing the new best practices (stache, new bindings, can-connect)
- highly compatible with 2.3, with the exception of installing / setting up CanJS.
- moving each module into separate repos, allowing people to more easily upgrade a small part of their application.
- revamping documentation,

[2015-10-24 19:21] justinbmeyer opened #2027 "Formalize two-way binding with selects."
Using the new two-way binding syntax `{($value})="key"`, the parent scope value should be updated assuming the parent value is `undefined`.

However, this makes it difficult to get the nice behavior of showing an empty select when the scope is `undefined`.  And once the value is selected, you can no longer select the empty option.

This is still possible, but tricky.  I'd like a way to make it eas

[2015-10-24 19:21] justinbmeyer commented on #1834
@pYr0x thanks for pointing that out.  I will fix this.

[2015-10-25 10:58] pYr0x opened #2028 "Documentation Elements and Attributes"
Tell me if I am wrong, but is the documentation of the Elements and Attributes completely wrong with the two-way binding and the reference?
http://canjs.com/docs/can.elementAndAttributes.html
I can make a PR but I wanted to ask first if i misunderstand something.

[2015-10-25 14:14] matthewp commented on #2028
Yes, it is wrong.

[2015-10-25 15:13] pYr0x commented on #2028
sould i correct this? or would you like to change the content with hyperlinks to can.view.bindings

[2015-10-26 17:30] justinbmeyer opened #2029 "references scopes are not available to bindings nested in components"

[2015-10-26 19:05] #2029 closed

[2015-10-26 20:04] daffl commented on #2027
I don't think this is fixable. A select field like

[code]

When set like this:

[code]

Will always show an empty select in Chrome/Safari etc. and the first item in Firefox.

[2015-10-26 20:28] justinbmeyer commented on #2027
Yarg ... that's dumb.  So for this to work in all browsers, we'd have to add an empty <option>?

[2015-10-27 18:24] DesignByOnyx commented on #2027
If you set the `selectedIndex` to -1 it will clear out the element, even in Firefox:

http://jsfiddle.net/3xyxpcqo/

[2015-10-27 18:25] whitecolor commented on #1983
Is it going to be fixed soon?

[2015-10-27 18:27] whitecolor commented on #1800
What about this?

[2015-10-27 18:39] matthewp commented on #1983
Can you submit a test?

[2015-10-27 18:49] justinbmeyer commented on #1800
Did you try reverting? Does it work?

Sent from my iPhone

[2015-10-27 19:30] whitecolor commented on #1800
What do you mean?

[2015-10-27 20:53] justinbmeyer commented on #1800
A few comments previous, I mentioned trying to revert the change that custom attrs are not processed.

Sent from my iPhone

[2015-10-27 21:17] whitecolor commented on #1800
the same result with an error

[2015-10-27 21:20] whitecolor commented on #1983
Seem to work now

[2015-10-27 21:20] #1983 closed

[2015-10-27 22:12] justinbmeyer commented on #1800
a test will speed up the process of getting this fixed.  What was the error?

[2015-10-27 22:32] beno commented on #1800
I made this test a while ago

https://github.com/bitovi/canjs/pull/1863

[2015-10-27 22:36] justinbmeyer commented on #1800
@beno thanks!

[2015-10-28 11:15] whitecolor opened #2035 "Rendering style tag with stache template"
`style` tag internal content seem to be blocked from rendering stache template.

[code]

the result in HTML: `<style>body: {{color}}</style>'`

This works:
[code]

the result in HTML: `<xxx>body: green</xxx>'` - and it is dynamic (bound to `map.color` changes)

[2015-10-28 20:49] matthewp opened #2037 "can/view/stache/system should normalize dynamicImport names"
Otherwise steal-tools build/live-reload will fail when it tries to normalize them.

[2015-10-28 22:00] marshallswain commented on #2035
I've noticed this before.  I used a helper with triple curly braces {{{layoutStyles}}} to generate a dynamic style.

[2015-10-29 01:00] espretto opened #2039 "global var "GLOBALCAN" fails"
i'm using the amd variant and was thus looking for a way to avoid canjs' global export. apparently "GLOBALCAN" needs be set to `false` in tandem with uglify's `dead_code` option. it works! but not for `can/amd/can/view/stache/utils.js` which is missing `can` in its argument list.

i would have annotated the exact code line on github but i couldn't find the amd-build. i guess you're generating that

[2015-10-29 01:59] moschel opened #2040 "Make define part of the core"
Let's move can/map/define to be part of core canjs vs a separate plugin.

[2015-10-29 08:29] whitecolor commented on #2035
@marshallswain well that works
[code]
but it is not very convinient

[2015-10-29 13:23] matthewp commented on #2027
Normally when two way binding we set initial values based on which has a value. In this case the parent doesn't have a value but the child does, so we are making an exception for selects and saying that their value doesn't matter?

[2015-10-29 13:24] matthewp commented on #2027
More clearly, for selects we are ignoring their value and forcing parent->child initialization. Is this right?

[2015-10-29 13:39] justinbmeyer commented on #2027
This is a special case because FF forces it to be.

Ideally, we wouldn't do special casing here. I wonder if it's possible to tell if the value was actually set, or just defaulted to the first item.

Sent from my iPhone

[2015-10-29 13:42] justinbmeyer commented on #2035
Style needs to be special cased similar to how textareas are special cased.

Sent from my iPhone

[2015-10-29 13:54] matthewp commented on #2027
I don't think it's possible to set a select's value as `undefined` so the parent compute is always going to be initialized as an empty string if we do this.

[2015-10-29 13:55] matthewp commented on #2027
Scratch that, if we initialize this special case before bindings are set up the parent compute's value won't be updated. This sucks though.

[2015-10-29 14:29] matthewp commented on #2027
This changes the behavior that was added for:

* https://github.com/bitovi/canjs/issues/1679
* https://github.com/bitovi/canjs/commit/c705aa6ca79571cf899fac95cb0b67f8d201d6a3

[2015-10-29 15:15] whitecolor commented on #2035
@justinbmeyer @marshallswain

What do you think about making styleshits dynamic using stache templtes? it could allow intresting technics of styling components with dymics css properties (that would come from scope) or even mixins (made using helpers).

[2015-10-29 15:35] #2037 closed

[2015-10-29 15:47] daffl commented on #2039
Just working on releasing a 2.3.1 which should fix this via #2021

[2015-10-29 15:47] #2039 closed

[2015-10-29 15:47] justinbmeyer commented on #2035
@whitecolor I think it's an interesting idea.  I wonder what advantageous it would have over simply changing an element's `style` properties?

To do this right, you'd want a CSS parser, and a CSS target, and cssRule can.view.live method.  This way, the updates to [CSS rules](https://developer.mozilla.org/en-US/docs/Web/API/CSSRule) can happen efficiently.

Browser support with CSS rules is a bit a

[2015-10-29 15:55] justinbmeyer commented on #2020
@Alfredo-Delgado Here's where the child->parent updating is taking place: https://github.com/bitovi/canjs/blob/master/component/component.js#L236

The fix would be to track on `bindingsData` what type of binding it is .. a "new" syntax binding or an "old" syntax binding.  If it's an "old" syntax binding, don't update the parent.

[2015-10-29 15:55] justinbmeyer commented on #2018
thanks!

[2015-10-29 15:55] daffl commented on #2022
Closed via #2021.

[2015-10-29 15:55] #2022 closed

[2015-10-29 15:58] justinbmeyer commented on #2015
fix is to probably sniff out if the element is SVG and change how you set the value.

Basically `class` here: https://github.com/bitovi/canjs/blob/master/util/attr/attr.js#L41

Should be changed to do setting with a function more like:

https://github.com/bitovi/canjs/blob/master/util/attr/attr.js#L50

[2015-10-29 16:03] justinbmeyer commented on #2007
This is almost certainly a problem with `can.view.live.list` not listening to `set` events.

Similar to how `can.view.live.list` listens to add events:

- handler - https://github.com/bitovi/canjs/blob/master/view/live/live.js#L236
- binding - https://github.com/bitovi/canjs/blob/master/view/live/live.js#L423

It needs to be doing a similar thing with set.  But when a set events happens can sneaki

[2015-10-29 16:06] justinbmeyer commented on #2005
I think making extending components work is the ultimate goal here.

In the short-term, I'm pretty sure you can already do this with:

[code]

closing.  reopen if that doesn't work.

[2015-10-29 16:06] #2005 closed

[2015-10-29 16:07] justinbmeyer commented on #2004
This is a bug.  Thanks for reporting.

[2015-10-29 16:13] espretto commented on #2039
great! could you do the same for `canjs/amd/can/view/mustache.js` > `window.Mustache`?

[2015-10-29 16:19] daffl commented on #2039
I wonder why `Mustache` gets added to the window. I'll add a condition to only do this when `GLOBALCAN` is true.

[2015-10-29 16:28] justinbmeyer commented on #2004
For some reason, `steal-tools` must be removing:

[code]

This should be a configurable option in steal-tools with `removeDevelopmentCode`: http://stealjs.com/docs/steal-tools.transform.options.html

Perhaps the build config isn't setting it right:

https://github.com/bitovi/canjs/blob/master/build/config_stealPluginify.js#L189

looks like it is.  Somewhere this is breaking down.

[2015-10-29 16:30] justinbmeyer commented on #1970
I think this is fixed.

[2015-10-29 16:30] #1970 closed

[2015-10-29 16:32] justinbmeyer commented on #1962
@akagomez Any thoughts on this?  Does a change of the comparator only issue "move" events?  If so, are they getting their `computeIndex` updated?

[2015-10-29 16:33] justinbmeyer commented on #1962
It doesn't look like `indexMap` is updated. An example of it being updated in `add`:

https://github.com/bitovi/canjs/blob/master/view/live/live.js#L285

Remove does something similar.

This needs to happen in `move`.

[2015-10-29 16:34] justinbmeyer commented on #1961
@cherifGsoul that page doesn't seem to exist anymore.  Can you let us know how you navigated to it?  Thanks!

[2015-10-29 16:36] matthewp commented on #2004
I did a git log search in steal-tools and I don't see there ever being a `keepDevelopmentCode` option, transform has always had `removeDevelopmentCode`.  I would think changing it to `removeDevelopmentCode: false` would work.

[2015-10-29 16:37] justinbmeyer commented on #1952
So this seems to be a documentation fix for now, and an improvement in `can-connect`.

Whomever takes this over, please make sure the docs explain this.  And if this is unnecessarily confusing, make sure there's an issue in can-connect for what the right behavior should be.

[2015-10-29 16:40] justinbmeyer commented on #1941
It's too late for this.

We could ... allow multiple expressions in call-expressions.

[code]

But I think some special syntax might be ok too.

[code]

[2015-10-29 17:33] daffl commented on #2040
I will add it to when people `steal('can')` or `require('can')`. I can't remove the plugin from the standalone build though since it would then break existing installations.

[2015-10-29 18:41] #2040 closed

[2015-10-29 20:02] matthewp opened #2042 "Importing a template doesn't work with the new syntax"
[code]

Tries to import `*other.mustache`, not sure why yet.

[2015-10-29 20:04] matthewp commented on #2042
https://github.com/bitovi/canjs/commit/4b3402cc11702220796ace332506f9e8ba1b15ea contains tests.

[2015-10-29 20:20] marshallswain commented on #1961
I'm not sure how to edit old documentation pages.  @daffl Can you shed some light on this for me?  The page used to exist at guides/utils.md, but was removed with 2ec8deec5bc4dd47998f82b4bd22a6895d36c5eb.

[2015-10-29 20:32] marshallswain commented on #2035
@whitecolor I think it's a really good idea.  I'm not sure how often I would use it, other than with the occasional tricky layout.  I agree that using the helper syntax isn't very fun, but it doesn't look quite as ridiculous when you use it in a component.  :)

[2015-10-30 14:15] matthewp opened #2043 "Make %scope available in the scope."
For the partial usage I want the ability to render the partial with the current scope. Ideally I could do:

[code]

[2015-10-30 15:05] matthewp opened #2044 "Need equivalent of preventDataBindings to prevent component's bindings"
Or maybe just reuse that when setting up component's bindings. I think this is needed to make `can-tag` work on can-imports.

[2015-10-30 15:07] matthewp commented on #2044
Actually we can probably just pass that in as tagData.

[2015-10-30 23:04] dylanrtt opened #2049 "New 2-way bindings run setter twice with default values"
When a component's viewmodel has a default value for a property...

[code]

...if you setup a 2-way binding to that property with the parent scope any of these ways...

[code]

...the child property `foo` is set to its default (5) twice *during initialization* if the parent scope value (`bar` or `*bar`) is undefined.

http://jsbin.com/patofiboyu/1/edit?html,js,console,output

I added a log to the

[2015-10-31 00:36] dylanrtt commented on #1854
I was mistaken. This is still an issue and I just didn't update the syntax in the jsbin correctly to test it.

[code]

http://jsbin.com/zegotuwope/edit?html,js,output

It's also an issue in examples like this (`bar` changing does not update `foo`):

[code]

Still fixable by adding a template, even `template: can.stache('<content/>')`.

[2015-10-31 00:44] justinbmeyer commented on #1854
I thought this should fix it: https://github.com/canjs/canjs/issues/2029

Do you have 2.3.1?

[2015-10-31 00:50] dylanrtt commented on #1854
Ah, it is fixed in `2.3.1`. I usually just test in jsbin with minor and assumed that would be up to date. Next time I'll use a specific version.

I'll upgrade now. Thanks!

[2015-10-31 00:50] #1854 closed

[2015-10-31 01:17] justinbmeyer commented on #1854
minor is not being used right now.  master is where everything goes until probably we start putting things in the major (3.0) branch.

[2015-11-02 00:41] justinbmeyer opened #2050 "Syntax that prevents setting parent scope on binding initialization."
Sometimes, you want to prevent setting the parent scope on initialization.

For example, with DOM related bindings: https://github.com/canjs/canjs/issues/1834#issuecomment-129639753

And with Component bindings: https://github.com/canjs/canjs/issues/2020

Currently, the parent scope is only set if it is undefined, and the child has a value.  I think we should add another modifier that prevents set

[2015-11-02 00:42] justinbmeyer commented on #1834
I'm going to close this and move into #2027.  In short, I'll try to make `can-value` work the way it used to (not updating the scope).

However, in 2.3, using `{(value)}="key"` will update key.

@dylanrtt I know you dislike this, and for reasonable reasons.  Perhaps we can come up with another syntax that avoids this?  Created an issue for discussing it here: https://github.com/canjs/canjs/issues/

[2015-11-02 00:42] #1834 closed

[2015-11-02 14:07] Alfredo-Delgado commented on #2018
- https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/tutorial.md#L114 & https://github.com/bitovi/canjs/blame/minor/guides/getting-started-tutorial/setup.md#L16 **looking into status of having zip file creation automated** [cf.](https://github.com/canjs/canjs/blob/master/guides/examples/PlaceMyOrder/create-zip-files)
- https://github.com/bitovi/canjs/blame/minor/guides/get

[2015-11-02 21:30] dylanrtt opened #2051 "Cannot export a component's prototype function to the references scope"
I should be able to export a function from a component like this:

[code]

It *should* work for functions defined on the component's viewmodel or the viewmodel's prototype, but neither seems to work.

http://jsbin.com/zumebacuma/edit?html,js,console,output

[2015-11-03 17:13] #1752 closed

[2015-11-03 17:13] #2018 closed

[2015-11-03 19:24] #2020 closed

[2015-11-03 19:45] justinbmeyer commented on #2049
Is this causing actual problems?  With https://github.com/canjs/canjs/pull/2046, which will restore the old behavior of not setting parent `scope` even if it's undefined, the legacy behavior should be restored, so there shouldn't be a regression with `foo="{bar}"`.

But I think this behavior is by design w/ the new syntax.  It makes the `parent` the final arbiter of truth.  What's happening is tha

[2015-11-03 20:20] dylanrtt commented on #2049
Ah, thanks for the explanation. Looks like there's no bug here.

[2015-11-03 20:20] #2049 closed

[2015-11-03 20:42] dylanrtt commented on #1762
#1827 fixed the case where the options change and the selected option remains in the list, but if the selected option is removed and added back to the list, the displayed option stays out of sync.

Here is the original JSBin updated to use `2.3.1`:
http://jsbin.com/hajupezufa/edit?html,js,output

[2015-11-04 07:14] dylanrtt commented on #2049
I thought on this some more. When a child updates the references scope, what is the point in setting that value back on the same child that caused the update if the references scope can't possibly have changed the value because it can't have setters?

In general, I think it is important to prevent unnecessary updates as much as possible because I have run into valid situations where unexpected upd

[2015-11-04 08:30] DesignByOnyx opened #2056 "Add navigator object to vdom"
ReactJS relies on the navigator object on the global (window) - the userAgent property specifically. A lightweight implementation of the more commonly used properties would prevent similar issues in the future.

[2015-11-04 13:59] justinbmeyer commented on #2049
The references scope can't have setters, so what you are saying is valid. But references is a special case. For the most part, bindings don't know if they are binding to a reference or any other type of value.

I'd prefer not to add code for a special case unless someone sees real-world problems with this. It just feels a bit strange to have this behavior with every other observable except for can

[2015-11-04 21:59] cherifGsoul commented on #1961
@justinbmeyer sorry Im late it seems it is removed in 2.3 version so you can check it in 2.2 version http://canjs.com/2.2/guides/Utilities.html
![error](https://cloud.githubusercontent.com/assets/109013/10953292/9698c8ce-8347-11e5-911c-7d84a31467ca.png)

[2015-11-04 23:40] daffl commented on #2056
Closed via #2057

[2015-11-04 23:40] #2056 closed

[2015-11-04 23:56] dylanrtt commented on #1769
This works now, with helpers and functions. I think it was added via #1832.

Working example with `2.3.1`:
http://jsbin.com/dakesokuva/edit?html,js,output

[2015-11-04 23:56] #1769 closed

[2015-11-05 00:43] dylanrtt commented on #2050
I have kind of come around on this topic. In general, while it still feels wrong to me, updating the parent scope during initialization probably can't be very harmful. I initially discovered it was happening because a late loaded binding was changing a property (from undefined to empty string) to which another component was listening. I easily got around it by just setting a default empty string.

[2015-11-05 13:45] whitecolor commented on #1800
When is it going to be fixed?

[2015-11-05 22:15] whitecolor commented on #1797
I think it is still valueable to allo only certain component's scope attrs (or methods) to be leaked outside. I have a general purpose components where for example only one property have to be available in child scope, but I have to have all props leaked and it may cause some conflicts.

[2015-11-05 22:46] dylanrtt commented on #1797
@whitecolor I can certainly relate to this but using the reference scope with `leakScope: false` is working great for me so far. It's actually become pretty central to how I write components. Consider this example:

[code]

or even this:

[code]

I understand you are waiting to upgrade until another issue is fixed but I would definitely give this a try when you do because it allows you to have 0 l

[2015-11-05 23:00] dylanrtt commented on #2051
I gave this a try on master and the `foo` function is running 3 times, or just twice if `{{*bar()}}` is removed. The whole point is that it shouldn't be running at all with `@`.

http://jsbin.com/pezologeyi/edit?html,js,console,output

I also tried using the function on the viewmodel instance instead of the prototype method and that doesn't work (never runs). I know it's not mentioned in title of

[2015-11-05 23:50] justinbmeyer commented on #2051
arg.  will look at it.

[2015-11-06 09:50] whitecolor commented on #1797
@dylanrtt ok thanks) It seems new binding syntax is very flexible

[2015-11-06 15:10] #2015 closed

[2015-11-06 15:14] justinbmeyer commented on #1961
@marshallswain What I've done in the past is create a legacy branch of a tagged version like: https://github.com/canjs/canjs/tree/1.1-legacy

Then I make changes there and point documentjs to that.

[2015-11-06 15:18] #2007 closed

[2015-11-06 15:39] akagomez opened #2061 "Validations plugin demo is broken"
http://canjs.com/can/map/validations/doc/validations.html

Errors thrown:

[code]

[2015-11-06 15:56] justinbmeyer commented on #1800
@whitecolor what was the error you saw when you tried the above?  This isn't a super high priority fix for us.  We have it slated for 2.3.2.  But there's 20 or so other issues in this release.  Any help you can give will be greatly appreciated.

[2015-11-06 16:05] justinbmeyer commented on #1202
@ericcarino

Why are you setting a compute as a property value?

[2015-11-06 16:07] justinbmeyer commented on #2028
Please correct it!  Otherwise we will get to it.  Thanks!

[2015-11-07 19:31] gmahomarf commented on #1808
Has there been any progress on this issue? I'm having a similar issue, but I'm using RequireJS instead of Steal. If I register the helpers with `can.stache.registerHelper`, everything works fine. If I add them to the `helpers` property of a new `Component`, they don't work.

[2015-11-07 21:50] pYr0x commented on #1808
Do you mixing mustache and stache templates?

If you using stache all parent components and templates have to be a stache-template

[2015-11-07 22:17] gmahomarf commented on #1808
@pYr0x I'm using stache only, but what does that have to do with anything?
From docs ([link](http://canjs.com/docs/can.stache.html#section_Differencesfromcan_mustache)):

I'm not passing values to any child components, I'm not using Element callbacks, and I assume section rendering works fine, because the section rendered by the helper I'm using displays something (always defaults to truthy, so it

[2015-11-08 01:03] justinbmeyer commented on #1808
I still need a breaking test case because I'm not sure what the problem is.

Sent from my iPhone

[2015-11-08 01:10] gmahomarf commented on #1808
@justinbmeyer alright. I'll see if I can create a test case to reproduce the issue.

[2015-11-08 01:18] justinbmeyer commented on #1808
Here's a jsbin that points to latest: http://jsbin.com/tunutin/edit?html,js,output

[2015-11-08 03:25] justinbmeyer commented on #2051
The problem here seems to be that a compute is built around `*refKey`:

[code]

So, when the reference scope's `*refKey` vale is set, the compute tries to update its internal value.  So, it tries to read `*refKey` instead of `@*refKey`.

I'm not sure what the best solution is.  One possibility is to get people to write (and make this work):

[code]

I think this makes sense because this is what wo

[2015-11-08 11:47] pYr0x commented on #1808
@gmahomarf: it's not about the syntax. it's about you declaring the template
this example shows you the problem:

http://jsbin.com/jusovafeva/edit?html,js,console,output

replace "stacheTemplate" with "mustacheTemplate" and you will notice that the helper in child-comp will call with the with the mustache-template, but not with the stache-template

[2015-11-08 16:21] gmahomarf commented on #1808
@justinbmeyer  I'm still working on getting you a test case that matches my current setup (maybe I screwed something up), but I think @pYr0x may be on to something there. After looking at his jsbin code, I decided to test something in my code. All my templates are in <view_name>.stache files and I set them to each Component's template with can.view(url). I renamed one of them to <view_name>.mustac

[2015-11-08 20:46] gmahomarf commented on #1808
@justinbmeyer all my test cases pass, so I can't reproduce my issue outside my own code. I've got to get this project out, so for now I've worked around it by using require's text plugin to load the template as text and then set each Component's template to can.stache(requiredTemplate). As soon as I'm done with this project, I'll work on creating a test that fails the same way my code is failing.

[2015-11-09 00:27] justinbmeyer commented on #2051
Ok, so I made this work right now the ugly way: `<foo-bar {^@foo}="@*bar"></foo-bar>`.  I'm not happy with this.  But it will at least let you move forward and us get out a 2.3.2.

To make it work without the double `@`, it seems to require a bit of additional code.

Currently, we know which context to set because we always read the current value and set the first context that has a value.  If no

[2015-11-09 00:32] justinbmeyer opened #2065 "Make exporting a function work without double @"
Related to #2051, it will be nice if you don't have to specify a double `@` to export a function.

[2015-11-09 00:34] justinbmeyer commented on #2051
I'm going to add some docs for this ugly way until #2065 is working.

[2015-11-09 02:53] justinbmeyer commented on #2042
@matthewp Can you make the changes we talked about on Friday tomorrow?  I'd like to get 2.3.2 done.  Thanks!

[2015-11-09 03:55] justinbmeyer commented on #1800
@whitecolor I changed the code, got no errors, and all tests passed, including the one submitted by @beno .  Can you confirm that you actually got an error?

[2015-11-09 04:04] #1202 closed

[2015-11-09 04:06] justinbmeyer commented on #1931
Pull request here: #2060 waiting on merge from @alexisabril

[2015-11-09 11:31] #1883 closed

[2015-11-09 12:19] akagomez opened #2067 "%index doesn't work with can.Map values in master"
The {{(at)index}} stache helper/keyword will not render an index if the value at that index is a map.

See: http://jsbin.com/qogafo/edit?html,js,output

[2015-11-09 18:22] justinbmeyer commented on #2042
@matthewp made them.  This just needs to be merged: https://github.com/canjs/canjs/pull/2045

[2015-11-09 20:24] julia-allyce commented on #1861
The PR for this issue was never merged. Is this still relevant? cc: @James0x57

[2015-11-09 20:42] julia-allyce opened #2069 "FF debugging functions conflicting with can.Map"
This is from PR #1877
"FF introduced a debugging function called watch. This meant that if you had a property labeled watch, it would throw an exception."
cc: @tracer99

[2015-11-09 21:20] #2042 closed

[2015-11-09 22:21] #2004 closed

[2015-11-09 22:25] #1962 closed

[2015-11-09 22:26] #2051 closed

[2015-11-09 22:36] #1770 closed

[2015-11-09 22:37] daffl commented on #1800
Closed via #2066

[2015-11-09 22:37] #1800 closed

[2015-11-10 00:01] #1931 closed

[2015-11-10 17:56] pYr0x opened #2071 "can.map.validations taken "error" variable in template"
Using can.map.validations causes an error.
it uses the variable "errors" and so i can't use this variable anymore in my template

also accessing the error method in map.validations is not possible

here a demo
http://jsbin.com/vivutoxiya/edit?html,js,console,output

[2015-11-10 18:03] pYr0x commented on #2067
should {{@index}} not be replaced by {{%index}} ?

[2015-11-10 18:18] akagomez commented on #2067
Maybe. Didn't work for me though.

[2015-11-10 18:50] mickmcgrath13 opened #2073 "The %element call expression is not can.$ wrapped as the docs suggest"
The docs here http://canjs.com/docs/can.view.bindings.event.html#section_DOMevents say that the `%element` call expression is "The can.$ wrapped element the event happened upon."

However, it is not a `can.$` wrapped element. For example, I tried this:
[code]
[code]
..and it didn't work.  Changing the `triggerChange` method to this, however, did work:
[code]

[2015-11-10 18:58] mickmcgrath13 commented on #2073
..using either `$element` or `@element` instead of `%element` does work.  So is this just a documentation change?

[2015-11-10 18:59] matthewp commented on #2073
Yeah I supposed this is intentional: https://github.com/canjs/canjs/blob/master/view/bindings/bindings.js#L238

[2015-11-10 19:16] Macrofig commented on #2071
You want to use [can-validate](https://github.com/canjs/can-validate) now. It has the ability work with any validation library (with a provided shim), and the errors object is now an observable.

That said, it also uses the `errors` property on the map instance. I created an issue to make can-validate's can.Map plugin work with any property you desire.

Although, the errors object is a can.Map whi

[2015-11-10 19:27] justinbmeyer commented on #2073
Documentation is wrong.  $element is wrapped.  %element is raw element.

[2015-11-11 00:39] jcavanagh opened #2075 "Inline view bindings used with component event bindings ignore bubble hierarchy"
Ran into an interesting issue where inline can.view bindings and component event bindings seem to bubble independently.  A component event will always trigger after an inline view binding, regardless of element hierarchy.

http://jsfiddle.net/jbacon617/a1j9jqcr/

As a workaround, one can use an inline binding at the point where the event should be trapped, instead of an event binding on the compon

[2015-11-11 00:47] justinbmeyer commented on #2075
My guess is that is because `($click)` is bound before `'.level-two click'`.

It's like if you do:

[code]

I believe `a` will be called no matter what `b` does.

I'd have to confirm.  But it this is the case, we might be able to make ($click) happen after `'.level-two click'`.

[2015-11-11 02:15] Macrofig commented on #2071
Ok, check this out: http://jsbin.com/difibeq/edit?html,js,console,output

So you can manipulate the errors object when you instantiate your map but you have to remember that the validation library expects a certain structure. In this case, I'm using [validate.js](http://validatejs.org/). ValidateJS returns a map of arrays when validating multiple properties.

Quick explanation why: Each item in th

[2015-11-11 15:34] robert-sbin commented on #2025
Yes, find same error. Found that in Chrome you get always "Choose a City" during in Firefox you get "Loading ...".
I think Browsers don't wont to load Files with ajax-calls like "can.ajax".
So I changed my fixtures.js to:
[code]

[2015-11-11 16:54] Alfredo-Delgado commented on #2027
Working on this, I'm not sure that the case where a key in a parent scope is undefined should be our concern.

e.g. current behavior ([consistent across browsers](http://output.jsbin.com/mosikef))
[code]

What isn't consistent is what happens when the key's value doesn't match one of the select's options:
[code]
This passes in Chrome, but fails in Firefox (selectedIndex === 0).

This [branch](http

[2015-11-11 23:00] #2073 closed

[2015-11-12 01:09] dylanrtt commented on #2020
Dang, I thought this was already fixed in 2.3.1 but it looks like it's going to be in 2.3.2.

I ran into an issue today because the old syntaxes were using the new binding behavior...

[code]

`my-comp.b` was defined as defaulting to the value of `my-comp.a`, and `foo.bar` was undefined. This resulted in the initial value of `my-comp.b` (equal to `my-comp.a` and `foo`) getting assigned to `foo.bar

[2015-11-12 01:16] justinbmeyer commented on #2020
To be clear, we are not reverting the binding rules for the new bindings.

[2015-11-12 01:20] justinbmeyer commented on #2020
I don't think `foo === foo.bar` is unexpected as long as you know that `undefined` parent values will be set to their child value.  It should be clear that `foo.bar` is undefined, so it will take on the value of `b`, which will be `a`.

[2015-11-12 01:36] dylanrtt commented on #2020
Except my code pre-existed that rule and running `npm install can@2.3.0` did not impart that knowledge :stuck_out_tongue: (might be a bug with npm). To be clear, I'm saying it's good that the old syntax will continue to work the old way to prevent unexpected things like this.

[2015-11-12 01:37] justinbmeyer commented on #2020
2.3.2 should be out tomorrow.  There's one issue to go. I'm working on it now.

If you'd like to be part of these decisions, send me an email: `justin@bitovi.com`.  We're looking for contributors and it's pretty easy to be part of the team: http://donejs.com/About.html#section=section_Coreteam

[2015-11-12 01:39] justinbmeyer commented on #2020
Yeah, regressions will occur, especially if functionality is untested and not documented, but we will fix it in patch releases.

[2015-11-12 03:04] justinbmeyer commented on #2027
@Alfredo-Delgado I checked out your solution after I did mine (in bindings).  Yours seems better, but some tests of mine did not pass.  My pull request is here: #2076.  @daffl If it passes, lets get that in and we can investigate making this work directly in `attr` later.

[2015-11-12 13:55] whitecolor opened #2077 "Bug with conditional attribute"
In 2.3 (it worked in 2.2):
[code]

If `preview` is `true` `nextPage` attribute value is string value `{nextPage}`, not actually value of `nextPage` in parent scope.

Maybe some why to do it with new binding sintax?

test is comming.

[2015-11-12 16:05] justinbmeyer commented on #2069
@julia-allyce @tracer99 do we have a property named watch?  What's the actual problem?

[2015-11-12 16:06] justinbmeyer commented on #2067
It should be %index, but work both ways for now.

[2015-11-12 16:06] #2050 closed

[2015-11-12 16:07] justinbmeyer commented on #2044
@matthewp is this closed?

[2015-11-12 16:19] matthewp commented on #2044
It can be yes.

[2015-11-12 16:19] #2044 closed

[2015-11-12 16:51] tracer99 commented on #2069
This was lost in the original ticket.
FF has an internal function called watch.
So if you want to have a map with a property watch, map.attr("watch") will fail.
I solved it by using hasOwnerProperty in the attr function in CanJS. However, @matthewp was concerned that this approach would not handle inhreted properties.

[2015-11-12 18:26] matthewp opened #2079 "Binding to ViewModel functions and using them in a click handler"
http://jsbin.com/zujoxahiqa/1/edit?js,console,output

I would expect this to work:

[code]

However save is not called.

[2015-11-12 18:45] justinbmeyer commented on #2079
There was another issue.  It needs to be `{^@save}="@*save"`

[2015-11-12 18:47] justinbmeyer commented on #2079
See: https://github.com/canjs/canjs/issues/2065

[2015-11-12 18:47] #2079 closed

[2015-11-12 21:05] shcarrico opened #2080 "%root property is serialized when can.Map instance is shared between a component viewModel and a can.route"
if you create a `can.Map` instance, and supply it to a component, then to `can.route`, you will get a `%root` property serialized into your route..

I worked around by adding a define block with `serialize : false` to the aforementioned Map instance, but should this property be defaulted to `serialize : false` some way?

[2015-11-12 21:08] justinbmeyer commented on #2080
Yeah, sounds like the right thing to do. Can you give an example of this happening?  Thanks!

Sent from my iPhone

[2015-11-12 21:22] shcarrico commented on #2080
[code]

the above `console.log` will produce `through the component Object {%root: Object}` when the component is inserted.

[2015-11-12 22:55] justinbmeyer commented on #2080
@shcarrico Why was a viewModel being serialized?  It will help inform the fix.

We added `%root` to help make can-ssr able to know what ajax requests a page was making. @matthewp is working on a better way of identifying these things, making `%root` unnecessary in the future.

My first impulse is to simply take whatever `can.Map` is the view-model and overwrite it's `.serialize()` to delete the `%

[2015-11-12 23:05] justinbmeyer commented on #2071
@pYr0x I'm going to put a deprecation notice on can/map/validations and point people at `can-validate`.  I'm also going to mark this as `wont-fix` because it's not something we are going to prioritize (but I will accept a pull request).

@Macrofig where are the generated docs for this plugin?

[2015-11-12 23:05] justinbmeyer commented on #2071
Re-openning until the deprecation docs are in place.

[2015-11-12 23:13] #2071 closed

[2015-11-12 23:14] justinbmeyer commented on #2077
You tried this with master?

[2015-11-12 23:18] shcarrico commented on #2080
What I have done is to add a `define` block and set serialize to false. This seems to work OK, although I didn't know what the purpose of %root was so was concerned about side effects.

I am sharing a map instance between a "root" component and `can.route` via `can.route.map`. The idea being to have that set of properties be the base scope for the application, with the "state" living primarily in

[2015-11-12 23:20] justinbmeyer commented on #2075
I confirmed: http://jsfiddle.net/a1j9jqcr/6/

There's no "reasonable" way of making this work.  So, I'm going to close.  If you have an idea, please let me know.

[2015-11-12 23:20] #2075 closed

[2015-11-12 23:21] justinbmeyer commented on #2069
@tracer99 where in the attr function did you use this?  in `___get`?

[2015-11-12 23:26] justinbmeyer commented on #2069
Is this on `Object.prototype`?

My concern would be more about performance.  We'd want to feature-detect this and only add this check for this property, specifically when the feature is detected.

[2015-11-12 23:26] justinbmeyer commented on #2069
@tracer99 let me know if you'd want to pair on it.  I'm available most times.  Just hit me up on gitter.

[2015-11-13 02:11] justinbmeyer commented on #2035
@whitecolor you mean:

[code]
right?

[2015-11-13 02:52] #2027 closed

[2015-11-13 04:58] justinbmeyer commented on #2035
Fixed this in #2083.  @whitecolor check it out.

[2015-11-13 04:59] justinbmeyer commented on #2043
We can maybe "sneak" this into 2.3 undocumented and then make a 2.4?

[2015-11-13 05:00] justinbmeyer commented on #146
I don't think we are ever going to get to this.  I'm going to close and add a "needs a champion" to get it in.  It's just not priority for the core team.

[2015-11-13 05:00] #146 closed

[2015-11-13 05:05] justinbmeyer commented on #1366
This is closed with the introduction of the new event bindings:

[code]

[2015-11-13 05:05] #1366 closed

[2015-11-13 05:05] matthewp commented on #2043
I don't think it's super important now that the `{{> *other}}` syntax is working which correctly applies the correct scope.

[2015-11-13 05:09] justinbmeyer commented on #1360
`@root` is off the table b/c we are using it for the "highest level" context (the application's view model).  We make this available even with `leakScope: false`  so components that want to interact with server-side rendering have access to the application model to register if they are doing something async that should be waited for.

I think `%self` will work.

[2015-11-13 05:13] justinbmeyer commented on #184
I don't think this is much of a problem now.  Live-binding tears itself down w/ the component, so it's rare that this would be a problem.  Closing.

[2015-11-13 05:13] #184 closed

[2015-11-13 05:16] justinbmeyer commented on #314
I think this is sorta dead because of the ubiquity of using a loader for templates.  Closing unless there's a hero to do it.

[2015-11-13 05:16] #314 closed

[2015-11-13 05:18] justinbmeyer commented on #336
Does `resource` solve this?  I think for most situations, it probably would.

[2015-11-13 05:18] justinbmeyer commented on #336
closing unless this gets more interest.

[2015-11-13 05:18] #336 closed

[2015-11-13 05:19] whitecolor commented on #2077
Yes with yesterday master.

[2015-11-13 05:24] whitecolor commented on #2077
In this case:

[code]

if `disabled` attr is `htmlbool` in `some-comp` component, it event breaks with en erorr:

[code]

[2015-11-13 12:32] fantanamihai opened #2084 "In a Control, not all events caught with Control.on are rebound when Control.on() is called"
In CanJS, events can be caught in 4 ways:
Mode 1. In a Control, using Control.on

Mode 2. In a Control, if events have a special character in their name, by declaring a method with the same name

Mode 3. Using can.$.event.special

Mode 4. Declaring a Control processor for the event

However, issues occur when events are rebound using Control.on() as following:
- Declaring events handlers using Mod

[2015-11-13 12:53] meconcomputer opened #2085 "can.define is not documented"
When using **can.Map.define** plugin, the **can.define** object is not documented (see https://github.com/canjs/canjs/blob/master/map/define/define.js#L6)

It should be properly documented (http://canjs.com/docs/can.Map.prototype.define.html), because:
+ it uses a *global attribute* on **can** object to store it's *types*
+ it helps users to understand that it can be used when they need to declare

[2015-11-13 13:48] justinbmeyer commented on #2085
It should probably not be used to create application wide types. This is mostly why it's not documented. There's a issue where I go into this. But I'll write up the explanation when I have a bit of time.

Sent from my iPhone

[2015-11-13 14:14] Tarabyte commented on #2085
Suppose I have lots of different models having different properties I need to convert using the same logic. For example `createdAt, modifiedAt, beginTime, endTime` etc that should be converted using say momentjs. What is wrong with defining an application wise `moment` type?

[2015-11-13 14:57] justinbmeyer commented on #2085
@Tarabyte it leads to dependency problems.  Better is to create a "define-types" module helper and do:

[code]

When people set define's globals, they tend to treat them like a global, not specifically requiring them for every module that depends on them.  Plus, these globals can conflict.  If you created a `define-types` module, you could share that with the world, and it would work if someone el

[2015-11-13 15:07] justinbmeyer commented on #2084
@meconcomputer When you say:

I'm confused.  Why would someone use __both__ `this.on` and an `action` to  listen to the same event.  In the following example, why would someone have the `this.on` when `foo.bar` is already going to listen to what they want:

[code]

[2015-11-13 15:12] justinbmeyer commented on #2084
The reason why I wrote the previous comment is that `.on` doesn't rebind any events .. ever.  The only reason it seems like a rebinding is happening is because the "Mode 2" binding:

[code]

is listening to the same thing and being rebound.

So the rules are simple:

 - Actions are rebound
 - bindings with `this.on` are not rebound.

What is an action is anything that:

 - has a special character

[2015-11-13 19:35] justinbmeyer commented on #2077
@whitecolor I get no errors with:

[code]

Can you submit a test?

[2015-11-13 20:19] justinbmeyer commented on #2077
So the problem was that this was never working great to begin with.  However in 2.0, it was working on component initialization because attribute callbacks were called before tag callbacks.

This meant that `next-page="{nextPage}"` was added to the element before the tag was created.

Now this happens after.

I'm trying to track down why we made this change, although I think it makes sense that co

[2015-11-13 20:24] justinbmeyer commented on #2077
This commit changed each attribute to be added to the front: https://github.com/canjs/canjs/commit/bdb06d6a92e4b8de3a59d897fba03808f71cf80d

This has the effect of making the tag run last because it will be added first.

This was added because bindings needed the view-model to be created before they ran. This is no longer the case because can-component sets up bindings itself.

So the hack solutio

[2015-11-13 20:28] justinbmeyer commented on #2077
@whitecolor to be clear ... the "good" short term fix for this is to have `nextPage` added at end of turn.  This is slightly different then the behavior in 2.2.  However, we can fix that later by having some sort of `can.view.tagStart()` and `can.view.tagEnd()`.  `tagStart` will be called before any `can.view.attr`, and `tagEnd` will be called after all `can.view.attr`.

Having both will allow us

[2015-11-14 11:46] whitecolor commented on #2077
Ok thanks, for now I just got rid of such cases in the code.

[2015-11-14 12:33] pYr0x commented on #314
@justinbmeyer does ccummings PR #918 not solve this issue?

[2015-11-14 22:20] espretto commented on #2039
I'm currently upgrading from 2.1.1 to 2.3.1. the global `Mustache` still [leaks](https://github.com/canjs/canjs/blob/9382d592705c31e2da959d2eddf592dcaa410dd2/view/mustache/mustache.js#L120).

[2015-11-15 12:27] pYr0x commented on #1565
i think we can close this since the new binding syntax solve all the problems ;)

[2015-11-15 12:27] #1565 closed

[2015-11-15 16:20] pYr0x commented on #1732
@daffl @justinbmeyer  any news about this issue?
milestone was 2.3.0 ?

[2015-11-16 08:18] meconcomputer commented on #2084
Thank you Justin for your comments (and label) that underlines best what this issue is about.

That is a confusion rising from documentation, because there is no clear statement to differentiate between ``this.on bindings`` and ``actions``.

Just to conclude, please include in the documentation your statements, accompanied by example. It will be clear for everyone what are some of the foundations

[2015-11-16 08:58] meconcomputer commented on #2085
Thank you guys for your comments.
   Nice coincidence @tarabyte https://github.com/canjs/canjs/issues/2085#issuecomment-156443443: the 'moment' type was the problem which made me rise this issue :smiley:
   On the other hand, @justinbmeyer you showed how simple and clear (at least for me) the issue of using common custom types on ``define`` can be solved. And this is the way I will do it.
   Howev

[2015-11-16 12:10] roissard opened #2088 "can.batch.trigger doesn't care about current listeners"
can.batch.trigger will push notifications into currentBatchEvents without taking into account the current value of item.__bindEvents.change[0].handler. Later when calling can.dispatch in can.batch.stop all the handlers will be called (even those that where not active when triggering the event).

The bug occurs in 2.3.1.

See following source for reproducing bug with expected vs. output values.

ht

[2015-11-18 19:14] akagomez opened #2090 "Stache templates leak for various reasons"
While searching for the source of a memory leak in my app I found several ways to influence the leak by manipulating my templates.

I extrapolated my findings into a few tests and committed them [here](https://github.com/canjs/canjs/blob/stache-leaks/view/stache/test/leak.js) in the [stache-leaks](https://github.com/canjs/canjs/tree/stache-leaks) branch.

The basis of the test involves adding/remo

[2015-11-18 19:27] #1722 closed

[2015-11-18 22:38] justinbmeyer commented on #2090
The examples seem to be using mustache templates. Remember that if template is a string, it's assumed to be mustache.

Sent from my iPhone

[2015-11-19 04:39] akagomez commented on #2090
Darn. @imjoshdean and I thought we covered that base here:

[code]

I didn't realize stache/mustache could work together.

Okay. So. I've updated the tests to use stache explicitly. As a result 2 of the 3 test turned out to be false alarms. Then I tried a few more test cases, and found another. Test *#*1 is a doozy. Test #2 may not even be a leak.

![stache-leaks](https://cloud.githubusercontent.c

[2015-11-19 19:37] matthewp commented on #1775
Why is this a 3.0.0 issue, would it be backwards incompatible?

[2015-11-19 19:42] justinbmeyer commented on #1775
it would.  Currently, inline elements like

[code]

Gets turned into:

[code]

This would probably change it to something more like:

[code]

[2015-11-20 19:24] justinbmeyer opened #2091 "deprecation warning not showing up"
http://canjs.com/docs/can.Model.models.html

[2015-11-22 15:33] whitecolor opened #2092 "Wrong context inside <content/>"
Component's template:

[code]

[2015-11-23 04:10] justinbmeyer commented on #2092
Per web-components ... only one  `<content>` rendering makes sense.  I'm not sure this sorta thing should be officially supported.

[2015-11-23 08:32] whitecolor commented on #2092
Well it worked in 2.2. And multipe content tags (using select attribute) still needed feature.

[2015-11-23 09:05] dylanrtt opened #2093 "Compute binding problem with setter"
There is an issue where computed/virtual properties may not update when they should if a parent field (from which the compute is derived) has a setter. It appears to be a regression from `2.2.9` to `2.3.0`.

In the following example, the virtual computed property `concat` binds directly to `foo` and to `virtualFoo` which is an alias to `foo`. When `foo` changes from `'a'` to `'b'` for instance, `c

[2015-11-23 17:16] Macrofig commented on #2071
Docs were up at some point here: canjs.github.io/can-validate/
I was trying to fix the demos and it looks like I broke the whole thing. I'll fix it today. https://github.com/canjs/can-validate/issues/8

[2015-11-23 22:21] justinbmeyer commented on #2093
@dylanrtt We have tests for cases extremely similar to this.  In fact, these types of race conditions were a primary focus of 2.2.  CanJS has over 1700 tests with almost 5000 assertions.

Combining the features is not the solution as:

- this error can probably be reproduced with just computes.
- tests that combine features are extremely difficult to debug when regressions happen.
- the number of

[2015-11-23 22:29] justinbmeyer commented on #2093
note: this is probably a regression from changing binding from breadth-first-search to depth-first-search in 2.3 to improve compute performance times.

[2015-11-23 22:31] justinbmeyer commented on #2093
The problem can bee seen with just computes:

In 2.2.9, change is called just once:

http://justinbmeyer.jsbin.com/ruqufe/1/edit?html,js,console

In 2.3.2, change is called twice:

http://justinbmeyer.jsbin.com/ruqufe/2/edit?html,js,console

[2015-11-23 22:52] justinbmeyer commented on #2093
@dylanrtt I think the answer to the problems are:

1.  Keep building up our unit test coverage to include more and more cases.
2.  Respond to issues like these quicker.  (I'll try to get this in this week).
3. Make it clear when a release is approximately "production" ready.

For #3, I'm not sure the best way of doing this because our goal is to be able to make a release whenever our test suite pa

[2015-11-23 23:02] dylanrtt commented on #2093
@justinbmeyer Sure, adding more complicated tests isn't fun and is probably the least efficient way to improve test coverage. I just thought I would throw that out there as an idea because I have had too many problems like this in the past and something needs to change.

It's been at the point for a while where I expect there to be nasty regressions in core features like this every time I upgrade,

[2015-11-23 23:16] justinbmeyer commented on #2093
@dylanrtt I would encourage you to only upgrade once a Minor release has got past the 3rd patch release.  It will probably continue to happen if you upgrade immediately to a new minor release.

[2015-11-23 23:20] justinbmeyer commented on #2093
Meaning ... if the ultimate goal is to get new features and the performance features within a minor release into your code base as soon as possible, we have to get out the "regression filled" minor release as soon as possible to find these bugs.

Proactive "random" testing isn't going to discover these faster than getting them out, people encountering them, getting good tests added, and fixes and

[2015-11-23 23:32] dylanrtt commented on #2093
It's true that pushing it out the new version to a bunch of projects does reveal regressions quickly. I remember hearing about Angular having a system where they automatically upgrade hundreds of apps  internally at Google and run all of their tests with the new framework code in order to find bugs before release. I don't know if you guys are doing anything like that already but if you could adopt

[2015-11-23 23:40] justinbmeyer commented on #2093
@dylanrtt We do upgrade our client apps.  I think we code in probably a more uniform way and are less likely to encounter bugs the community finds.

Btw, if you would like to have a voice in our priorities, please join us on our Wednesday meetings.

Finally, I'm about to submit a fix.  I was happy that it didn't effect our hard earned compute performance gains.  Please check it out and let me know

[2015-11-24 00:55] dylanrtt commented on #2093
I just tested this out and it fixes the use case I provided in the first post, and the ordering issue you demonstrated with computes, but it seems to happen again when I add more depth to the 'computes'.

[code]

The problem still goes away when the setter is removed from `root` and I'm not sure how that plays a role.

I could not reproduce this problem with just computes like you did earlier.

Up

[2015-11-24 02:54] justinbmeyer commented on #2093
Yes, it's a problem that we worked on solving in 2.2. It's a tricky problem, but we came up with a well reasoned solution.

My guess now is that batching isn't being propagated through events correctly. To make nested computes work, batching and event ordering needs to be right. My guess is that set is getting in the way of that. I'll check it out.

Sent from my iPhone

[2015-11-24 04:32] justinbmeyer commented on #2093
Tracking it down a bit more.  Setter create's its own batch.  Not sure why that affects things.  I'm going to keep digging.

[2015-11-24 04:38] justinbmeyer commented on #2093
I can break it with just computes and a batch.

[code]

[2015-11-24 05:41] justinbmeyer commented on #2093
So this breaks in 2.2.9 as well: http://justinbmeyer.jsbin.com/ciwebu/2/edit?html,js,console

I think I know what the problem and fix is ... but haven't seen what other problems the fix will cause.

[2015-11-25 05:20] justinbmeyer commented on #2093
Ok, so I fixed this, but it introduces about a 25% increase in the spinning circle demo.  This is due to 2x more bindings and 2x more events.

The solution I came up with is that when "root" computes (or maps) change in a batch, all computes that might depend on those changes are notified.  For example, if I have computes like:

[code]

It might look like:

<img width="507" alt="presentation3" src

[2015-11-25 05:29] justinbmeyer commented on #2093
I really want to figure out a way to make this work faster than it currently does.  Making the extra bindings and producing extra events is what's slowing things down.  However, this is a nice approach because it uses existing APIs.

Another alternative would be for computes to add a reference to themselves on their source observables.  For example, c2 could add itself to `root.__computedBy[c2._ci

[2015-11-25 05:33] justinbmeyer commented on #2093
It's probably possible to avoid the `__computedBy` directly on the object because we can use a store for this.

[code]

 `can/util/batch` would have to know about this structure.  But that's probably alright.

[2015-11-25 17:32] justinbmeyer commented on #2080
[code]

[2015-11-26 03:15] marshallswain opened #2095 "Live binding on a derived attribute breaks when it's removed from then added back to the page."
Here's a simplified jsbin that illustrates the problem: http://jsbin.com/defibe/3/edit?html,js,output

Here's another: http://jsbin.com/dabamo/15/edit?html,js,output

[2015-11-26 03:49] justinbmeyer commented on #2095
@marshallswain Anyway you can create a stache test and test w/ that branch?  Thanks,

[2015-11-26 16:29] justinbmeyer commented on #2093
@daffl @dylanrtt After implementing the above, there's about a 20% slow down. Still not happy.

I thought about it some more and realized that what really matters is "depth".  I'm thinking that it might be faster to calculate depth of every compute, and re-evaluate computes by order of their depth.  This will mean we don't have to span the graph twice.  Hopefully keeping performance approximately

[2015-11-28 22:50] justinbmeyer commented on #1866
So, I think my solution for #2093 can probably be re-purposed for this.  Essentially, it keeps track of updates to computes based on a "depth".  Computes get updated in order of their depth. The same things can be done here.  Essentially, each live-binding section compute includes the number of its parents as part of its depth value.

I'll probably release 2.3.3 w/o a fix for this issue, and then

[2015-11-30 16:56] #2095 closed

[2015-11-30 16:57] marshallswain commented on #2095
Looks like you beat me to it.  Thanks.

[2015-11-30 16:58] #2028 closed

[2015-11-30 18:46] justinbmeyer opened #2097 "quotes around attributes"
The following doesn't work.  It would be good if it did.
[code]

[code]

[2015-11-30 18:56] #2035 closed

[2015-11-30 18:58] justinbmeyer commented on #2097
Another example:

[code]

[2015-11-30 18:59] justinbmeyer commented on #2097
[code]

[2015-11-30 19:01] daffl commented on #2077
Closed via #2089

[2015-11-30 19:01] #2077 closed

[2015-11-30 19:07] daffl commented on #2093
Closed via #2094

[2015-11-30 19:07] #2093 closed

[2015-11-30 19:18] justinbmeyer opened #2098 "computes on Map prototypes are not readable by can.compute.read"
This is because Map property reader is looking on prototype for functions first.

[2015-11-30 19:42] justinbmeyer opened #2099 "can.__isRecording observes doesn't understand can.__notObserve"
can.__notObserve sets .ignore, but can.__isRecording just looks at the stack.

[2015-11-30 20:48] #1554 closed

[2015-11-30 20:48] #2067 closed

[2015-11-30 21:41] pYr0x commented on #1995
should this be documented?

[2015-11-30 21:44] pYr0x commented on #2091
@justinbmeyer no @deprecated annotation there....
so dont know what you mean...

[2015-11-30 21:46] #2099 closed

[2015-11-30 21:59] justinbmeyer commented on #1995
That a warning is console.log-ed?  We don't document that we do that elsewhere.  Why do you think it should be documented?

[2015-11-30 22:00] justinbmeyer commented on #2091
I liked to the wrong place.  I meant to link here: http://canjs.com/docs/can.Model.models.html

[2015-11-30 22:03] #2061 closed

[2015-11-30 22:18] pYr0x commented on #1995
you tagged https://github.com/canjs/canjs/pull/2078 as "Documentation"

[2015-11-30 22:27] justinbmeyer commented on #1995
Ah, I don't really know what to consider adding something like this.  I suppose it's a `feature`, but we tend to reserve that for things that would need a `minor` version change.

[2015-11-30 22:49] #2098 closed

[2015-11-30 23:29] pYr0x commented on #2088
@roissard can you write a test into ? https://github.com/canjs/canjs/blob/master/event/event_test.js

[2015-11-30 23:32] justinbmeyer commented on #2088
@pYr0x @roissard 2.3.3 has a very different batching mechanism.  It's possible that this is already fixed.

[2015-11-30 23:43] pYr0x commented on #1961
created a new branch https://github.com/canjs/canjs/tree/2.2-legacy where david can linked the documentation

[2015-11-30 23:50] marshallswain opened #2105 "Using a define getter breaks pushstate url updates."
I originally posted this in donejs/donejs#434, but I've made a second test to confirm that it's a Can issue, alone.

If you include a getter in an attribute that should be serialized into the URL, the url no longer gets updated when you change the attribute.

![breaking-pushstate-with-define-getter](https://cloud.githubusercontent.com/assets/128857/11319756/175e5ccc-903f-11e5-9659-ed65bf629970.gif

[2015-11-30 23:51] marshallswain commented on #2105
I was able to duplicate this with the following example code.  If you remove the `get()` from the page's define, it the route no longer updates.

I'm getting an error (can.jquery.js:1710 Uncaught RangeError: Maximum call stack size exceeded) when using can.route.map(mapInstance), but not when I use can.route.map(MapConstructor), so I've split it out into two separate can.Maps.

[code]

[2015-12-01 00:04] dylanrtt opened #2106 "Dynamic bindings broken"
I should be able use stache to define a dynamic binding. The following worked in `2.3.2` but broke in `2.3.3`. Using `{($value)}` would throw in `2.3.2` so I have been using `can-value` for these situations which now also throws.

[code]

[code]

http://jsbin.com/gisajaxupe/edit?html,js,console,output

Looks to me like the binding might be hooked up before stache has completed, hence the value is

[2015-12-01 04:08] dylanrtt opened #2109 "2-way binding to current scope in a list acts like a 1-way binding"
If I have a list of scalar values, I should be able to 2-way bind to them in an `#each` like this:

[code]

It seems to only be a 1-way binding. Changing the input's value does not update the scope properly.
http://jsbin.com/varajayita/edit?html,js,console,output

It doesn't seem like this was ever supported but it would be handy for cases where the data structure is like this. For now, I'm doing

[2015-12-01 04:18] #1995 closed

[2015-12-01 04:43] justinbmeyer commented on #2090
There's a `<content>` within an `{{#each}}`.  This is not officially supported.

[2015-12-01 05:00] akagomez commented on #2090
From the `can.Component.prototype.template` documentation:

Additionally it says:

Source: http://canjs.com/docs/can.Component.prototype.template.html

While the documentation doesn't explicitly state that a `<content>` tag can reside within an `{{#each}}` block, I can't see how it could have been interpreted that it wasn't. Especially since it uses the terminology "*insertion points*".

[2015-12-01 05:02] justinbmeyer commented on #2090
`<content>` is based off the W3C `<content>` tag.  This type of use will be impossible with that standard.

[2015-12-01 05:03] justinbmeyer commented on #2090
It says "insertion points" for the "source elements" which mimics the spec.  It doesn't say a "re-rendering of the light/user subtemplate".

[2015-12-01 10:06] roissard commented on #2088
I have written the test in 2.3.1 and can see the bug occurs. In the master branch the same test passes, so I will close the bug.

[2015-12-01 10:06] #2088 closed

[2015-12-01 15:20] rangermeier opened #2110 "Stache removes attribute "id" from input elements if value should be interpolated"
An template like `<input id="{{ id }}" value="{{ value}}">` is rendered like `<input value="abc">`. Note how the *id*-attribute is omitted. This happens for all kinds of form elements: input, select, textarea,..

http://jsbin.com/zobamum/edit?html,css,js,output

[2015-12-01 21:42] pYr0x commented on #2025
@Daniel-Hug @robert-sbin unfortunately i cant reproduce the problem.

clone the repo and open the chapter 9, all things are working as expected

```can.ajax``` make a asnyc call and ```response(data)``` is a asnyc setter

please reopen if needed

[2015-12-01 21:42] #2025 closed

[2015-12-01 22:24] dylanrtt commented on #2110
Looks like a 2.3.3 regression. It works in 2.3.2:

http://jsbin.com/rilinopufi/edit?html,js,output

[2015-12-02 03:32] justinbmeyer commented on #2110
#2108 solves this.  Closing as duplicate.

[2015-12-02 03:32] #2110 closed

[2015-12-02 03:33] #2091 closed

[2015-12-02 03:33] #2097 closed

[2015-12-02 03:34] #2106 closed

[2015-12-02 03:34] #2090 closed

[2015-12-02 03:37] justinbmeyer commented on #1961
canjs.com's documentjs.json needs to point at that branch: https://github.com/bitovi/canjs.com/blob/gh-pages/documentjs.json#L39

[2015-12-02 08:23] meconcomputer opened #2112 "Possible bug on 'can.Model.store' attribute implementation"
When migrating an old project in JVMC 3.2, I noticed that the following chain of actions, give erroneous results:

[code]

The results are the following:
A.findOne() returns
[code]
But B.findOne() returns
[code]
erroneous result merging result from A.findOne() and the correct result from B.findOne().

It might seem an odd example, but it is perfectly "legal" according to documentation.

Looking th

[2015-12-02 09:07] pYr0x commented on #1961
https://github.com/bitovi/canjs.com/pull/261
@justinbmeyer please merge

[2015-12-02 09:20] rjgotten commented on #2112
This is expected behavior.

You're fetching a `can.Model` with the same identity ("ID1") twice. The second fetch will take the already existing instance and update it with the newly received properties and values.

If you don't want this behavior, make C a `can.Map` instead of a `can.Model`.

[2015-12-02 09:26] meconcomputer commented on #2112
Yes, I understand that. But it is a common thing to have two different items (obtained from different endpoints), but with the same id, isn't it?

[2015-12-02 09:46] meconcomputer commented on #2112
For example two tables, `cats`, `dogs`, having references to a common `genre` table. By chance, when getting a `cat` and a `dog` having the same genre `male` id, but backend processing adds different attributes to `male` genre.
This is the situation the above example is used.

[2015-12-02 09:46] #2085 closed

[2015-12-02 09:56] prashantsharmain commented on #2080
@justinbmeyer I added the following test to component_test.js:

		test("%root property should not be serialized inside prototype of can.Component constructor (#2080)", function () {
			var viewModel = can.Map.extend({});

			var comp = can.Component.extend({
				tag: "foo",
				viewModel: viewModel,
				events: {
					"inserted": function () {
						ok(!this.viewModel.serialize()['%root'], "serial

[2015-12-02 10:39] rjgotten commented on #2112
They're not different. In both cases the type of the member `c` is `C`.

[2015-12-02 10:51] rjgotten opened #2113 "can.view.txt does not handle binding hookup on self-closing elements correctly"
This issue surfaces when a hookup ends up inside a `colgroup` element. Via the `elements.tagMap` a `colgroup` element supports only a `col` child-element, however `col` is self-closing and may not hold content.

If you have a live-binding expression inside a `colgroup` (e.g. to render a variable amount of columns in a table), then the hookup in [view/render.js;207-222](https://github.com/canjs/can

[2015-12-02 11:33] pYr0x commented on #2112
@meconcomputer, rjgotten is right.

you have to create a new instance of C
[code]
example:
http://jsbin.com/recewopiwi/edit?html,js,console

for type converting see also this good post at: http://forums.donejs.com/t/managing-complex-string-fields-with-can-map/64

[2015-12-02 11:36] pYr0x commented on #2113
mustache or stache?

[2015-12-02 12:15] pYr0x commented on #2084
@meconcomputer would you be nice to add a documentation part?

[2015-12-02 12:21] rjgotten commented on #2113
Reproduced in EJS, actually. (Yeah, this bug has been present since forever...)
Not sure if stache or mustache hit the same code paths in `can.view.txt`.

[2015-12-02 12:43] pYr0x commented on #2113
unfortunately ejs is deprecated and this is a "wont fix"
if you can reproduced this issue with can.stache let us know

[2015-12-02 14:34] justinbmeyer commented on #2080
@prashantsharmain Please make the test work with `can.stache` does it work then?

[2015-12-02 14:40] justinbmeyer commented on #2113
@rjgotten can you share an example (or make a pull request with some breaking code).  Thanks!

[2015-12-02 14:46] #1958 closed

[2015-12-02 15:28] rjgotten commented on #2113
@justinbmeyer

http://jsfiddle.net/07zks0q1/1/

Fails in both EJS and Mustache

[2015-12-02 16:14] pYr0x commented on #2113
@rjgotten didnt fail on stache
http://jsbin.com/xunopoqexu/edit?html,js,output

[2015-12-02 16:36] rjgotten commented on #2113
@pYr0x

Your own documentation seems to disagree with that. http://canjs.com/docs/can.ejs.html clearly states that EJS "will still be maintained up to 3.0 and potentially after." That implies bugfixes will still be made.

Deprecation means you stop further development (of new features) and recommend people to switch over to a future-proof alternative, pending removal of the old system. It doesn't

[2015-12-02 16:51] matthewp commented on #2113
That's right, ejs is still supported, this isn't a "won't fix".

However bugs only get fixed if someone has time and energy to fix them. This is true of all features, new and old. Pull requests fixing this bug will of course be accepted.

It's also possible to sponsor a bug to ensure it gets fixed if you can't do it yourself, @justinbmeyer can speak more about how that can work in this case.

[2015-12-02 16:51] prashantsharmain commented on #2080
@justinbmeyer It does work with can.stache. Is this fix acceptable? Please note that the example that @shcarrico had shared uses can.mustache.

[2015-12-02 19:47] rjgotten commented on #2113
If you're willing to accept pull requests for bug fixes, I'll look into setting one up as I've I've managed to patch this issue locally already. (Wasn't that hard once I figured out where to look.)

Is it still a hassle to check out CanJS and all its dependencies via Git on Windows? I tried this once before in the v1.1 - v2.0 timeframe and it was really annoying having to deal with subrepositories

[2015-12-02 21:17] matthewp commented on #2113
@rjgotten we don't use submodules any more, so it's much easier.  Just git clone and do an npm install.

[2015-12-03 05:52] dylanrtt opened #2116 "Passing a function reference with @ runs it"
http://jsbin.com/veyisiwesi/edit?html,js,console

[code]

The `parent` function shouldn't run until called. Worked in 2.3.2. If I use a 2-way binding, it runs twice (but I would never do that with a proto function).

[2015-12-03 06:05] dylanrtt opened #2117 "Binding an undefined property to a component runs the setter"
In the following example, if the parent `bar` is undefined, the `foo` setter will run anyway. Maybe I'm wrong, but I don't think that's the right behavior. This is new in 2.3.3 and was not happening previously. It affects both 1-way and 2-way bindings using the new syntax (old binding syntax unaffected).

[code]

http://jsbin.com/guweguqovi/edit?html,js,console

I just noticed that if the parent p

[2015-12-03 06:10] justinbmeyer commented on #2116
I might do a quick fix so that `<foo-bar {@child}="@parent"></foo-bar>` works.

[2015-12-03 06:12] dylanrtt commented on #2116
No rush for me. I'll just stay in 2.3.2 for now. I saw you fixed some of my other issues but there's just too many right now.

[2015-12-03 06:14] justinbmeyer commented on #2116
This one was caused by unifying all binding logic.  Essentially, a compute is made for `child`.  When the compute is set to a `function`, computes automatically re-read themselves to get their new value.

In this case "child" is read, which ends up calling the function.  Instead if `@child` was read, things will work.  This is also needed for two-way binding.

[2015-12-03 06:16] dylanrtt commented on #2116
Are you suggesting that `<foo-bar {@child}="@parent"></foo-bar>` should be the correct syntax for 1-way binding a function parent-to-child?

[2015-12-03 06:17] justinbmeyer commented on #2116
Yes, it's the necessary syntax.  Unless we want to special case things.

[2015-12-03 06:17] dylanrtt commented on #2116
Fine by me. Whatever makes things easier.

[2015-12-03 06:21] dylanrtt commented on #2116
Are you still planning to do #2065 eventually or just leave it with double @ as the norm?

[2015-12-03 06:25] justinbmeyer commented on #2116
@dylanrtt the reason is that `{^method}="parent"` would call `method` and set `parent` to its return value, while `{^@method}="@parent"` would export the function itself to `@parent`.

Regarding #2065, yes, I might be able to special case `@` so it's not needed on both sides in 1-way bindings.  Basically, I can prevent the "setter" compute from having to ever read itself.

But I want to think abou

[2015-12-03 06:33] dylanrtt commented on #2116
The `@` modifier makes sense when reading values, not writing them. Adding `@` to the destination has no meaning. With `{^@method}="@parent"`, you are not assigning to `@parent`, but to `parent`.

[2015-12-03 06:36] justinbmeyer commented on #2116
Could it have meaning?  Say we had data like:

[code]

Would there be a difference between `@compute` and `compute` when setting?

[2015-12-03 06:38] justinbmeyer commented on #2117
I think setting the child to undefined is probably the right behavior.  If the child had a value, the one-way binding should probably overwrite it to `undefined`.

The double set is certainly a bug.  Will fix tomorrow.

[2015-12-03 07:02] dylanrtt commented on #2117
This popped up as an issue in places where an asynchronous virtual property's value is passed to a component where undefined is never expected, but perhaps it is the right behavior. I'll update my setters regardless of what you decide.

[2015-12-03 07:25] dylanrtt commented on #2116
Interesting. I suppose that would depend on what the current behavior is, which I originally thought (I could be wrong) is that it always assigns directly to the property. That is, the hypothetical `@` destination syntax would keep the current behavior.

If I'm right so far, omitting `@` would allow you to instead call a function/compute on the destination with the assigned value, but that behavio

[2015-12-03 07:55] meconcomputer commented on #2084
Yeah sure, I'll try to do that. Thanks for the invite

[2015-12-03 08:29] pYr0x commented on #2116
@justinbmeyer we should be documented this behaivor better...
the only parts i found is:
http://canjs.com/docs/can.stache.key.html
and
http://canjs.com/docs/can.view.bindings.toParent.html#section_ExportingFunctions

[2015-12-03 08:37] pYr0x commented on #2117
@dylanrtt my respect, nice work, you will find most of the bugs ;)

[2015-12-03 10:53] rjgotten commented on #2113
@matthewp
Done and done.

While the removal of subrepositories greatly simplfied things, you're indirectly using several native modules as dependencies. Those were an absolute pain in the rear to build (node-gyp and Windows is hell) but I eventually managed to skirt that minefield. Oh well. ^_^

[2015-12-03 13:32] meconcomputer commented on #2112
@pYr0x great resource donejs forum. My bad, I didn't searched enough.
@rjgotten thank you for your replies.
Just to be clearer on the subject. I thought that `store` had an issue using 2 endpoints, returning an object (with the same id), which was then passed to a the `model` method of `can.Model`. Each endpoint processed data differently so even if the 2 endpoints used the same model, I was getti

[2015-12-03 13:32] #2112 closed

[2015-12-03 14:24] meconcomputer opened #2120 "Possible 'infinite loop' bug when using can.Control.hookup and $.wrap"
This issue appears when using `can/view/modifiers`, a Control that defines a `hookup` and a custom prototype `setup` (which uses `$.wrap` to modify `element`) e.g.
[code]
The Control is called through an EJS template, e.g.
[code]
   Basically, `$.wrap` called from a `Control.prototype.setup` is using the modified (through `can/view/modifiers`) `$.append`, which in turn calls `can.view.frag` (see `

[2015-12-03 19:26] justinbmeyer commented on #2116
@pYr0x what needs to be documented better?  There's an example showing how to export a parent function.

[2015-12-03 19:34] justinbmeyer commented on #2116
@pYr0x well, we should probably add a similar example for the other direction: http://canjs.com/docs/can.view.bindings.toChild.html

@dylanrtt I've made it possible to drop the `@` on the receiving side of a one way binding.  So `{child}="@method"` and `{^@method}="parent"` will work.  I think a lot of people will try this.  And it should work.  It's likely that even if there could be a difference

[2015-12-03 19:36] daffl commented on #2109
I think #1692 is related to this as well.

[2015-12-03 20:38] #2116 closed

[2015-12-03 20:38] #2117 closed

[2015-12-03 21:46] dylanrtt commented on #2109
Closing as duplicate of #1692.

[2015-12-03 21:46] #2109 closed

[2015-12-03 22:26] dylanrtt commented on #1666
Looks like this is unfixable. In summary, the problem is the lack of a wrapping element around the bindings. The fix is to add a wrapping element when using `can.stache()`.

[2015-12-03 22:26] #1666 closed

[2015-12-03 22:40] justinbmeyer commented on #1666
You could also pass your own nodeList and make sure you tear it down:

[code]

[2015-12-05 22:10] whitecolor opened #2121 "Cannot read property 'pop' of undefined"
2.3.3, 2.3.4
Uncaught TypeError: Cannot read property 'pop' of undefined .../node_modules/can/compute/get_value_and_bind.js 160 TypeError: Cannot read property 'pop' of undefined

I don't understand what is the case, but it allways worked, and it doesn't now.

[code]

if add check, there will be no error:
[code]

Last releases are full different of erros.

2.3.5 has already another errors...

[2015-12-05 23:46] justinbmeyer commented on #2121
Is this present in 2.3.5?

[2015-12-05 23:46] justinbmeyer commented on #2121
What code causes this? I need a breaking test case.

Sent from my iPhone

[2015-12-06 01:01] whitecolor opened #2122 "Uncaught TypeError: Illegal invocation and <content> issue"
2.3.5 (latest master)

I'm not sure what causes it:

System reloader caught error: Uncaught TypeError: Illegal invocation /node_modules/jquery/dist/jquery.js 8458 TypeError: Illegal invocation
    at add (http://bb-reader-dev.127.0.0.1.til.io:2000/client/node_modules/jquery/dist/jquery.js:8458:41)

(probalbly these are different issues)
and another issue with this version
It seem that componets in

[2015-12-06 01:07] whitecolor commented on #2121
Well for now I'm not able to reproduce it on simple example, because it broke large app and have to figure out what part of it and what events cause this (it was always working fine in erlier versions).

In 2.3.5 I can not event test it because these issues:
https://github.com/canjs/canjs/issues/2122

[2015-12-06 02:01] justinbmeyer commented on #2122
Can you write up an example. What you show works for me if I'm using stache

[2015-12-06 02:08] justinbmeyer commented on #2121
Yes, the latest releases contain a big rewrite to fix compute and batching bugs. However, we will keep getting out releases quickly until everything is stabilized. Thanks for reporting.

Sent from my iPhone

[2015-12-06 02:52] justinbmeyer commented on #2121
I think I know how to reproduce.  Checking ...

[2015-12-06 03:03] justinbmeyer commented on #2122
also, the example has `modelView` not `viewModel`

[2015-12-06 03:04] justinbmeyer commented on #2122
@whitecolor If you can get me an example soon .. I might be able to get a 2.3.6 out tomorrow with a fix for this an the other issue.  Thanks!

[2015-12-06 03:12] justinbmeyer commented on #2122
http://justinbmeyer.jsbin.com/wowome/edit?html,js,console,output shows that passing attrs works.

[2015-12-06 10:03] robert-sbin commented on #2025
Yes, it works if you open the index.html over a http-server. When you open the index.html over the file-open dialog of the browser, it doesn't.

[2015-12-06 10:33] whitecolor commented on #2121
Well  out a lot of events are intersecting that cause this: element custom trigged events and map's events within different components.

[2015-12-06 10:37] whitecolor commented on #2122
Well again I didn't reproduce it on small example it is just describing the case in big app, and there components inserted in <content/> do not get attributes passed.

[2015-12-07 03:23] robregonm opened #2124 "`new can.Model.List( params )` doesn't work"
I extended a model like this:
[code]
and in the code I try to do this:
[code]
When I check the REST HTTP request the params are not being sent.
I worked in version 2.2.9, but in latest version (2.3.x) is not working anymomre

[2015-12-07 03:39] #2121 closed

[2015-12-07 03:50] robregonm commented on #2124
It seems that it is being caused for another "bug" (mine or canjs).
I'll add details in another issue. Closing this.

[2015-12-07 03:50] #2124 closed

[2015-12-07 05:26] roger-ng-helloworld opened #2125 "Instantiation of controllers is slowing down the search widget"
Hello,

I built this search widget: http://helloworld.com.au/l/cheap-domestic-flights

The loading time is alright on Desktop but it'll take 10 to 12 seconds to load on mobile. Basically, the widget comprise of 37 classes (some classes get instantiated more than 4 times). I found out the instantiation of classes are slowing down the loading time. Plus I'm using a lot can.Map and can.List.

One of

[2015-12-07 14:12] justinbmeyer commented on #2125
What version are you using? The latest CanJS is much faster than old versions.

Sent from my iPhone

[2015-12-07 14:23] justinbmeyer commented on #2125
Also, do you mean the creation of the classes themselves or do you mean instances of the classes?

Sent from my iPhone

[2015-12-07 19:12] #2080 closed

[2015-12-07 22:45] roger-ng-helloworld commented on #2125
Hi Justin,

I'm using version 2.1.2 and I mean instances of classes. I seriously hope the instances of classes wouldn't cost that much because I'm not looking forward to merging some of the classes. Also, I'm using a lot of can.Map and can.List instances, would that be the reason why it's almost grinding to a halt on mobile?

Rog

[2015-12-07 23:20] justinbmeyer commented on #2125
2.3 is over-all much faster. Can you try upgrading?

Or, can you share the code that is running slow so I can experiment?

Are you listening to change events? Those are really slow.

Sent from my iPhone

[2015-12-07 23:22] justinbmeyer commented on #2125
Creating instances of Map and List is fast unless you are using them in certain situations.

Another option, if you can't share the code, would be to hire us under contract to check it out.

Sent from my iPhone

[2015-12-08 04:10] alexisabril opened #2126 "can.Map.backup restore removes properties"
The docs state: `restore will not remove properties that were added since the last backup, but it will re-add properties that have been removed.`.

This line of code will remove properties however: https://github.com/canjs/canjs/blob/master/map/backup/backup.js#L33

According to this discussion: https://github.com/canjs/canjs/pull/607, it seems like the docs may be out of date, though we should ha

[2015-12-09 01:11] halcyonandon opened #2127 "{{(at)index}} doesn't work with arrays inside arrays"
This is a an issue regarding `{{@index}}` not working in multidimensional arrays... this isn't an issue when using `{{%index}}`.

Discovered after upgrading to 3.3.5

See http://jsfiddle.net/jhx3kh9f/

[2015-12-09 10:07] rjgotten opened #2128 "can.compute | NaN -> NaN dispatches a change event"
https://github.com/canjs/canjs/blob/master/compute/proto_compute.js#L384

Currently `can.compute` fails to take into account the fact that `NaN !== NaN`, which causes computes to dispatch change events when their computed value remains `NaN`,

[2015-12-09 10:33] whitecolor opened #2129 "Inconsistent binding with "with" helper"
2.3.5 latest:

[code]
[code]

http://jsbin.com/fejabegore/1/edit?html,js,console,output

`{^attr-c}="attrC"` seem to have place `attrC` on the parent scope, in example it doesn't place it nor on viewModel, nor on `someMap` that is set using `{{#with someMap}}`

2.3.4 gives an error with such example:
http://jsbin.com/yalutefuye/1/edit?html,js,console,output

I believe if we using "with" in this ca

[2015-12-09 10:37] whitecolor commented on #2129
this is related to https://github.com/canjs/canjs/issues/2122 and I think this as well https://github.com/canjs/canjs/issues/2092

[2015-12-09 12:52] whitecolor opened #2130 "Export component scope to parent scope's map"
This
[code]
Makes `{{*yearSelector}}` available in parent scope template, why not export `yearSelector` attribute to parent scope's map?

[2015-12-09 13:22] matthewp commented on #2130
I think this should do it:

<year-selector {^year-selector}="." />

[2015-12-09 13:28] whitecolor opened #2131 "Two way binding syntax {{attr}}="attr" doent' work"
[code]

http://jsbin.com/vapexikilu/1/edit?css,js,console,output

BTW examples in http://canjs.com/docs/can.view.bindings.twoWay.html seem not to work too.

[2015-12-09 13:32] whitecolor commented on #2130
No, why? `year-selector` here is a name of attribute of `year-selector` component.

[2015-12-09 13:44] justinbmeyer commented on #2131
{{year}} is not the two way binding syntax. {(key)} is.

Sent from my iPhone

[2015-12-09 13:46] justinbmeyer commented on #2130
Does {^.}="yearSelector" do it?

Sent from my iPhone

[2015-12-09 13:53] whitecolor commented on #2131
Ah yes right then check the docs for errors (when type in iputs).

[2015-12-09 13:53] whitecolor commented on #2130
Yes it is! Thanks.

[2015-12-09 13:53] #2130 closed

[2015-12-09 14:12] RuslanGetmansky commented on #796
Also has bumped into this bug here:
https://github.com/canjs/canjs/blob/master/util/object/object.js#L160
should be:
[code]
I doubt anyone is using it because it doesn't work if a subset contains less properties than a set.

[2015-12-09 15:23] justinbmeyer commented on #796
This is heavily used by can/fixture.  A `subset representation` DOES contain less properties than a set.  Btw, this is the future of can.Object: http://github.com/canjs/can-set and explains why much better.

This means that if I compare the `{}` in  `Todo.findAll({})` to `{due: "today"}` in `Todo.findAll({due: "today"})`, `{}` is a superset of `{due: "today"}`, but has less properties.

The object

[2015-12-09 16:22] RuslanGetmansky commented on #796
@justinbmeyer Probably the concept of can.Object.subset is correct. I don't mind. Then the actual bug is how it's used in [can.Object.subsets](http://canjs.com/docs/can.Object.subsets.html). Because it doesn't work as explained in the doc. For example:
[code]
gives nothing because ```can.Object.subset({id: 1}, {id: 1, name: 'name1'}) === false``` in current implementation.

[2015-12-09 21:59] pYr0x commented on #2130
@whitecolor I tried my best to explain the binding, have a look http://canjs.com/docs/can.elementAndAttributes.html

[2015-12-09 22:06] pYr0x commented on #2131
Sorry can't follow you

[2015-12-09 22:30] #2131 closed

[2015-12-09 22:40] whitecolor commented on #2130
@pYr0x that is ok, it was particular case I could guess that is should work this way.
question about `<can-import>`

`<can import from="helpers/stache-helpers"/>` says it imports helpers into the template, how this file should look like? Can I import something custom in to the scope?
let say `some/my/map.js`  module look like:

[code]
How to get `someObject` in to the scope? I would think aboult s

[2015-12-09 22:42] matthewp commented on #2130
@whitecolor here's an example of doing that: https://github.com/canjs/canjs/blob/master/view/import/import_test.js#L65

[2015-12-09 23:27] whitecolor commented on #2130
@matthewp
Does `can-import` works as async `System.import` always? Can it be used like analogy of `import ...` statement?

[2015-12-09 23:36] matthewp commented on #2130
@whitecolor If the tag is self closing it is like `import ...`, if it contains children (light dom) then it acts like `System.import`.

### static

[code]

### dynamic

[code]

[2015-12-10 00:03] whitecolor commented on #2130
@matthewp is it possible to let know to upper scope that component was imported (loaded)? Maybe some event or attribute on `<can-import>`?

[2015-12-10 02:03] whitecolor commented on #2130
@matthewp `can-import` seem to fail to resolve the relative module, right?

and this:

[code]
seem to be not the same as:

[code]
because in second case `some` attribute has imported value while components init (and before template insertion), and in first case `some` attribute seem to be undefined while insertion. Am I correct?

[2015-12-10 03:18] whitecolor opened #2132 "support backtrack path in export {^to-parent} bindings"
Hm it is working 2.3.4
http://jsbin.com/jonekemapo/1/edit?html,js,console,output

and not working on latest.
http://jsbin.com/jasuvokigu/1/edit?html,js,console,output

attribute should be exported to upper scopes using backtrack paths `{^selected-year}="../year"`

[code]

So `year` attribute be exported to `<comp-one>` `viewModel`.

[2015-12-10 14:03] matthewp commented on #2130
It should be able to resolve the relative module if you are loading the template with Steal, otherwise I think it will not.

That's right, the two examples are not exactly the same, bindings you add to a can-import will be applied asynchronously.

[2015-12-10 15:08] whitecolor commented on #2132
@justinbmeyer When are you planing to fix latest version? 2.3.4 has some bugs (i.e. lacks this https://github.com/canjs/canjs/pull/2123) and 2.3.5 has another bugs that don't allow to use it.

[2015-12-10 19:45] justinbmeyer commented on #1692
The solution is that when #each is creating a context, it should pass:

- the property name that was used to get the context (as a compute in case the property name changes (ex: `0` to `1`))
- the object who's property the context is (basically if I get the context by doing `foo.bar` ... this is `foo`).

Then, when reading a property like `.` or `this`, a compute should be given instead of the con

[2015-12-10 20:17] matthewp opened #2133 "npm publish should set can.VERSION"

[2015-12-10 23:33] halcyonandon opened #2134 "two-way binding bug regarding select dropdowns when value is set in inserted or init"
http://jsfiddle.net/sjxsazoh/3/

{^$value}="countryCode" - Works
{($value)}="countryCode" - Doesn't work
can-value="{countryCode}" - No longer works

[2015-12-11 11:21] salmansidd opened #2135 "Which documentation generator does CanJS support?"
Which documentation generator does CanJS support?
I tried JSDoc with little success. I would like to hear from people who have implemented any documentation generator with CanJS framework.

[2015-12-11 11:27] pYr0x commented on #2134
dont know which behavior you expect?
in the first dropdown
```<select class="country-list" {^$value}="countryCode" name="countryCode" id="countryCode">```
you export the element value to countryCode with a one-way-binding.

if you change this to:
```<select class="country-list" {(^$value)}="countryCode" name="countryCode" id="countryCode">```
all three dropdowns change simultaneously

[2015-12-11 11:30] pYr0x commented on #2135
i think canjs documentation is created with http://documentjs.com/

[2015-12-11 11:44] dylanrtt commented on #2134
@pYr0x The issue being demonstrated is that changes to viewModel properties during `events.init()` or `events.inserted()` do not update `<select>` elements using the new 2.3 binding rules. The 2nd and 3rd select menus should show "INDIA" initially, not "USA".

Here's a slightly simplified example:
http://jsbin.com/fizuniyoju/edit?html,js,output

The bug affects `can-value` as well because it share

[2015-12-12 00:57] #2113 closed

[2015-12-12 02:40] #2135 closed

[2015-12-12 02:41] #1888 closed

[2015-12-12 02:42] #1833 closed

[2015-12-12 02:44] justinbmeyer commented on #1743
@pYr0x anyway you can check this and see if it's still a problem?

[2015-12-12 02:46] justinbmeyer commented on #1745
@pYr0x Want to setup a time next week to go over this issue and #1743 ?

[2015-12-14 13:14] rjgotten opened #2136 "List replace with deferreds does not take into account stale/overtaken deferreds"
When updating a list through the `can.List.prototype.replace` method and deferreds, the replace method fails to check whether the settled deferred is not stale, i.e., overtaken by a later replace operation on the same list.

When deferreds settle out-of-order (as is common with server requests and network connections over which the author has no control) this leads to potentially unexpected or inv

[2015-12-14 17:30] imjoshdean opened #2137 "Incorrect view model context with <content/>"
Between 2.2.9 and 2.3.0 and up, something changed with components that iterate over a list and render `<content/>` setting the context to be the outer template's context rather than the context within the current component.

An example of what is expected, and worked prior, can be found here: http://jsbin.com/fucokoqofu/1/edit?html,js,output

An example of what isn't expected happening as of 2.3.0

[2015-12-14 18:08] phillipskevin opened #2138 "Arithmetic not working with %index"
Arithmetic such as `{{%index + 2}}` does not work in stache templates. `{{@index + 2}}` works as expected.

The right-most column in this example shows the unexpected behavior: http://jsbin.com/kahibegune/1/edit?js,output

[2015-12-14 18:11] daffl commented on #2137
Related #2092

[2015-12-14 22:40] justinbmeyer commented on #2137
We should close this one and move those fiddles into the other one.

I actually wrote a test and it didn't experience this problem.

I'll checkout the bins.

Sent from my iPhone

[2015-12-14 22:41] justinbmeyer commented on #2138
There's a plus operator? I have no idea how the other one works?

Sent from my iPhone

[2015-12-14 22:54] phillipskevin commented on #2138
I don't know either. I updated that code to use a helper, but wanted to check in case this was intended to work.

[2015-12-14 22:54] #2138 closed

[2015-12-15 14:12] organic-scholar opened #2140 "Sub expression as named parameter"
stache template with following experssion throws error Unable to understand expression.
[code]
both greet and uppercase are helpers

[2015-12-15 14:58] justinbmeyer commented on #2140
This isn't valid syntax. Write it like:

Sent from my iPhone

[2015-12-15 15:17] organic-scholar commented on #2140
Thanks for quick response its working. but do you add support for follwing syntax.

[code]
after all it is valid syntax.

[2015-12-15 15:44] justinbmeyer commented on #2137
Closing for the other issue.

[2015-12-15 15:44] #2137 closed

[2015-12-15 15:45] justinbmeyer commented on #2140
@organic-scholar it's not valid stache syntax.  We decided we liked:

[code]

more than the handlebars syntax.

[2015-12-15 15:48] justinbmeyer commented on #2129
Yeah, this should be fixed by #2139.  Please re-open if you continue to find this.

[2015-12-15 15:48] #2129 closed

[2015-12-15 15:52] justinbmeyer commented on #2132
@whitecolor I'm planning on working on it now.

[2015-12-15 15:54] justinbmeyer commented on #2128
@rjgotten This should be a pretty easy fix.  Simply change the logic around:

https://github.com/canjs/canjs/blob/master/compute/proto_compute.js#L384

To check if `isNaN(newVal) ? ! isNaN(oldVal) : newValue !== oldValue`.

And add a test.

[2015-12-15 16:00] justinbmeyer commented on #2125
@roger-ng-helloworld I'm going to close this until you get us a sample of the slow code.  Unfortunately, the site itself running in production minified is a bit difficult to figure out what's going on.

[2015-12-15 16:00] #2125 closed

[2015-12-15 16:01] justinbmeyer commented on #2122
I think #2139 will fix this.  I'm closing on that assumption.  Please re-open if you continue to find this problem.

[2015-12-15 16:01] #2122 closed

[2015-12-15 16:03] justinbmeyer commented on #2105
@marshallswain anyway you can get this into a CanJS test?  You can see some examples in route_test that use an iframe to simulate similar situations.

[2015-12-15 16:04] justinbmeyer commented on #2069
@prashantsharmain do you want to pair on it this week?

[2015-12-15 16:26] prashantsharmain commented on #2069
@justinbmeyer Sure, how about Thursday (12/17) ? We could set it up at the same time we have the contributor's meeting.

If I manage to find a fix before that, I'll share an update.

[2015-12-15 18:03] gsmeets commented on #2092
This is extremely useful, it allows you to write components like drop-down menus that can be passed (required or optional) item templates.

[2015-12-15 21:44] julia-allyce commented on #2069
Also just FYI, the original ticket/PR still exists along with all the code changes. It was only closed not deleted.
You can see the original pr here #1877

[2015-12-16 00:41] #2092 closed

[2015-12-16 00:41] #2134 closed

[2015-12-16 00:52] #2136 closed

[2015-12-16 01:21] #2132 closed

[2015-12-16 01:21] #2127 closed

[2015-12-16 01:26] daffl commented on #1971
Looks like this has been fixed via #1972

[2015-12-16 01:26] #1971 closed

[2015-12-16 01:27] daffl commented on #1762
Should be closed now via 1401c401c49609f2d8d369d5950cdcaf139e6018

[2015-12-16 01:31] #2105 closed

[2015-12-16 02:28] #2065 closed

[2015-12-16 02:47] #2128 closed

[2015-12-17 02:45] dylanrtt commented on #1762
I don't think this is fixed. My previous comment is still true using master.

[2015-12-18 13:52] organic-scholar commented on #2140
Please check this
(http://jsbin.com/bopateq/1/edit?html,js,console,output)

i tried the above syntax its not working

[2015-12-18 15:36] justinbmeyer commented on #2140
@organic-scholar this works: http://justinbmeyer.jsbin.com/resipu/edit?html,js,console,output

[2015-12-18 15:48] organic-scholar commented on #2140
But right now we can't mix helper expression with call expression.

[2015-12-18 16:06] justinbmeyer commented on #2140
I'm pretty sure you can mix helper can call like: `{{#each foo(bar)}}`, but it seems that a helper hash doesn't work with a call expression like: `{{helper hash=call()}}`.  It's a bug we will fix for the next release.

[2015-12-18 16:40] organic-scholar commented on #2140
here is another example failing, this one with unnamed params.

http://jsbin.com/niseji/edit?html,js,console,output

[2015-12-18 18:08] justinbmeyer commented on #2140
Works: http://jsbin.com/xotunitoya/edit?html,js,console,output

So, their really isn't a problem. The confusion is that the results of call expressions are passed as computes to helper expressions.

Helper expressions get computes by default.

Sent from my iPhone

[2015-12-20 11:34] organic-scholar commented on #2140
but i think this behaviour is inconsistent beacuse we called the expression its is not  instead it is passed as compute.

[2015-12-20 14:51] justinbmeyer commented on #2140
Helpers are always passed a compute with any observable data. Even functions are converted to a compute. So it's consistent.

Sent from my iPhone

[2015-12-20 15:45] #2140 closed

[2015-12-20 18:57] justinbmeyer commented on #1762
@dylanrtt anyway you can simplify the test to something along the lines of: https://github.com/canjs/canjs/commit/1401c401c49609f2d8d369d5950cdcaf139e6018#diff-7bca9ce6f0378f28c17f2c02cd1eb9b0R1859 ?

[2015-12-20 19:00] justinbmeyer opened #2147 "option value as empty string are not selected with two way binding"
[code]

An option like that should be selected if the value is `""`.

[2015-12-22 20:18] imjoshdean commented on #1127
Happened to just run into a need for this. Giving it a :+1:

[2015-12-22 20:22] justinbmeyer commented on #1127
@imjoshdean what would this look like?

[2015-12-22 20:26] imjoshdean commented on #1127
The situation I needed it for was a virtual getter property to check the validity of all the items in a list:

[code]

I can't imagine this would look any different on a `can.List` than it would on a `can.Map` honestly.

[2015-12-22 20:29] justinbmeyer commented on #1127
@imjoshdean why couldn't that just be a simple function?

[2015-12-22 20:32] imjoshdean commented on #1127
That particular one might be able to be a simple function, though I happen to want to value to be live bound, but couldn't that argument be made for any virtual getter property?

[code]

[2015-12-22 20:41] justinbmeyer commented on #1127
@imjoshdean somewhat yes, but there's also a need for setters, type conversion, async getters.  It would be weird to call `this.attr("fullName", "Something new")` to write, but `this.fullName()`to read.

I think it's likely those things could be used on a list too.

[2015-12-22 20:44] imjoshdean commented on #1127
So, I think we are both agreed - this is something that would be beneficial to add, yes?

[2015-12-22 20:55] justinbmeyer commented on #1127
yeah, probably.  I am actually thinking more about how define should be used for the items within the list, not the expandos.

[2015-12-22 21:00] imjoshdean commented on #1127
Do you mean something such as this?

[code]

[2015-12-22 21:12] justinbmeyer commented on #1127
or `*` to apply to any item in the list.

[2015-12-22 21:22] imjoshdean commented on #1127
That one is definitely trickier, unless we assume that everyone will only get items from an array with an iterator such as `can.each` or `can.List.prototype.each` or with `.attr()` e.g. `list.attr(0)`. Because it breaks down otherwise.

At minimum, it would be nice if `can/map/define` worked on the expando properties and maybe afterwards we went back and looked at how it should work for list items

[2015-12-22 23:07] dylanrtt commented on #1127
I have already been using `*` with define in lists.

Example:
[code]
http://jsbin.com/cepejemoci/edit?html,js,console

Was this not supposed to work?

[2015-12-23 00:19] justinbmeyer commented on #1762
@dylanrtt how can I see the error?  Thanks.

[2015-12-23 00:23] justinbmeyer commented on #1762
@dylanrtt is this how:

1.  Select "Alexis", "Curtis", "Curtis".
2.  Change the first select from "Alexis" to "Curtis" and then back to "Alexis"

?

[2015-12-23 00:28] dylanrtt commented on #1762
http://jsbin.com/kagecetoho/edit?html,js,output

[2015-12-23 04:52] justinbmeyer commented on #1762
@dylanrtt thanks!

[2015-12-23 05:37] justinbmeyer commented on #1762
Checking out this problem a bit, it doesn't look like there is a "nice" solution.  Also, I'm not sure what the behavior should be.

## Two-way binding behavior

When `Brian` is removed, the `<select>`'s value becomes `""`.  Because of this, I think the right behavior might be to change the two-way bound value (`person`) to `""`.

## One-way binding behavior

When `Brian` is removed, the `<select>`

[2015-12-23 17:24] matthewp commented on #2000
Fixed in https://github.com/canjs/canjs/commit/12f6e45e49a307df76d9dcbd04f28ca4897cd1cc

[2015-12-23 17:24] #2000 closed

[2015-12-23 21:55] dylanrtt commented on #1762
Your suggested 2-way binding behavior might be the best option, but what should happen during initialization if the bound value is not present in the options list?

For the use cases I described, it would preferably not change the bound value, but showing no selection would also mean a "Loading..." option placeholder would not show either, so maybe a dummy select element is the way to go after all

[2015-12-23 23:18] justinbmeyer commented on #1762
In this case, if the parent scope has a value, say "foo", the parent value would remain.

It might, but hopefully batching would prevent that.

[2015-12-24 17:35] justinbmeyer commented on #1762
Corrected the two-way behavior to account for when `<option value="">` is not present.

[2015-12-24 19:06] akagomez opened #2151 "User DOM not found when rendering multiple <content>'s as a result of a batched "set""
This is a complex and specific use case, so I had a hard time titling this issue. See the demo:

http://jsbin.com/bacuba/3/edit?html,js,console,output#J:L30-34

The example will work as expected if:

- If the Light DOM does not contain a component
- If the "set" that causes the Light DOM to be added is not batched

While researching with @justinbmeyer we were able to determine that the `content` p

[2015-12-24 19:29] justinbmeyer commented on #1762
There's a technical problem with one-way bindings.  Essentially, with a one-way binding, we need to constantly make sure that when the "child" changes, we try to overwrite that value with the parent.

With a one-way binding, we don't even bind to the child compute.  So there's not a great mechanism to make this happen.  I'm also not sure what this is conceptually ... it's sort of a "sticky child v

[2015-12-26 15:09] gsmeets commented on #2090
I would like you to seriously consider officially supporting this, or support it in some other way. Repeatable templates is a very important feature.

[2015-12-26 15:20] whitecolor commented on #1915
I experience I think a like problems with computes, I tried solution above, it doesn't seem to work.

[2015-12-26 18:57] justinbmeyer commented on #1915
If you can submit a test, I'll get this in 2.3.8 asap.

Sent from my iPhone

[2015-12-26 18:59] justinbmeyer commented on #2090
Please propose an alternate API. Something like <user-template>.

Sent from my iPhone

[2015-12-28 20:19] #2151 closed

[2015-12-28 20:20] #2069 closed

[2015-12-28 20:25] daffl commented on #2133
`can.VERSION` is being set in the files in `dist/`. I assume this is only a problem when using the NPM version with Steal?

[2015-12-30 15:30] akagomez commented on #2090
@justinbmeyer How would `<user-template>` differ from `<content>`?

[2015-12-30 16:08] justinbmeyer commented on #2090
@akagomez it would behave how our current `<content>` tag works, leaving `<content>` to work like how the spec `<content>` tag works.

[2015-12-30 16:39] matthewp commented on #2133
Maybe... I can't remember where this problem originated. Probably you are right, it's only for the NPM Steal version.

[2015-12-30 16:45] matthewp opened #2154 "Move can/view/live into its own project"
This could be a really nice library as a low-level way to bind Observables to DOM elements. Could even create an interface so that other types of observables than can.computes can be bound.

[2015-12-30 18:02] justinbmeyer commented on #2154
Probably not necessary b/c `can.compute` is an interface that allows other observables to become computes.

[code]

[2015-12-30 18:03] justinbmeyer commented on #2154
What other use cases do you think people would want this?

[2015-12-30 18:38] matthewp commented on #2154
For projects that operate on raw DOM elements (like legacy jQuery projects) that still would want the benefits of live-binding. Also, other frameworks that use observables are doing essentially this.

[2015-12-31 19:58] akagomez opened #2155 "CanJS roadmap seems out of date"
First link on Google:

http://canjs.com/guides/roadmap.html

Second link on Google:

http://forums.donejs.com/t/canjs-roadmap-discussion/75

[2016-01-01 02:20] DesignByOnyx opened #2156 "vdom innerHTML implementation should append a text node for script tags"
The innards of the `innerHTML` implementation in vdom does this:

    ...
    var frag = parser.parse(""+html);
    this.appendChild(frag);

However, script tags contents are CDATA and should not be parsed as html.  Instead, a text node should just be appended with whatever content is given to it.

[2016-01-02 19:30] DesignByOnyx commented on #2156
The same should probably also be applied to STYLE tags. Please advise.

[2016-01-02 21:18] justinbmeyer opened #2158 "Warning about missing end quotes"
Example:

[code]

[2016-01-02 21:31] gsmeets opened #2159 "sort plugin forces comparing 'comparator' values, even when overriding the comparator function"
I use a custom sort comparator function on a can.Map.List. In 2.3.x (I guess with the changes to the sort plugin) this breaks down. In 2.2.x it works.

When I remove the default comparator string on my model, the sorting works again.
What's happening is that instead of the item itself, the value specified by the original comparator is used instead.

Culprits seem to be:
https://github.com/canjs/ca

[2016-01-02 23:59] justinbmeyer commented on #2159
@gsmeets can you provide a breaking example?  I'm not sure exactly what you are describing.

[2016-01-03 00:05] justinbmeyer commented on #2156
@DesignByOnyx would this also do the wrong thing if I did:

[code]

Is `parser.parse(""+html)` aware of this rule?

[2016-01-03 00:08] justinbmeyer commented on #2120
@meconcomputer Thanks for reporting this.  The `modifiers` plugin isn't used much anymore so fixing this bug isn't priority.  I labeled it "needs a hero" which means that if you'd like to assist on a fix, we will work on it.  We can even setup a time to pair.  Thanks.

[2016-01-03 00:10] justinbmeyer commented on #1994
Closing this.  If someone else spots it and can isolate the test a bit more, we'll fix it.

[2016-01-03 00:10] #1994 closed

[2016-01-03 00:14] justinbmeyer commented on #1852
I'm closing unless there's a lot of other support.  I think `events` object is the right tool here if this kinda performance is needed.

[2016-01-03 00:14] #1852 closed

[2016-01-03 03:40] justinbmeyer opened #2160 "stache.key needs updated binding syntax"
http://canjs.com/docs/can.stache.key.html

[code]

[2016-01-03 09:50] gsmeets commented on #2159
I'll create a PR with a breaking test.

[2016-01-04 02:13] justinbmeyer opened #2161 "A compute is returned for an observable method"
MethodA in:

http://justinbmeyer.jsbin.com/binupa/2/edit?html,js,console,output

[2016-01-04 02:15] #2161 closed

[2016-01-04 02:15] justinbmeyer commented on #2161
My example was wrong

[2016-01-04 16:51] akagomez opened #2163 "can.List.each iterates uninitialised values"
From the `.forEach()` documentation:

`can.List` DOES iterate uninitialised values: http://jsbin.com/jezabevira/edit?js,console

[2016-01-04 17:12] justinbmeyer opened #2164 "deprecate can/control/route ~2"
- [x] - remove it from major
- [ ] - give a warning in master

[2016-01-04 17:29] #2147 closed

[2016-01-04 18:25] DesignByOnyx commented on #2156
@justinbmeyer - I think the parser handles that properly already. I haven't tested it, but [this comment in the tokenizer](https://github.com/canjs/canjs/blob/master/view/parser/parser.js#L66) makes me think that it has been accounted for.

The reason this bug surfaced for me is because the react integration I am building uses a `<script>` tag, and internally react is using innerHTML to set the co

[2016-01-04 18:53] #2156 closed

[2016-01-04 21:05] pYr0x commented on #2116
@justinbmeyer on the documentation http://canjs.com/docs/can.view.bindings.toParent.html#section_ExportingFunctions

<my-panel {add-panel}="@*addPanel" title="CanJS">CanJS Content</my-panel>

Shouldn't the @ not be on both sides?

[2016-01-04 22:00] akagomez opened #2165 "can.viewModel mentioned in the navigation but not the root page contents"
<img width="768" alt="screen shot 2016-01-04 at 4 54 59 pm" src="https://cloud.githubusercontent.com/assets/82166/12101764/6d075e0c-b304-11e5-95f5-03a97033ba24.png">

[2016-01-04 23:16] alexisabril opened #2166 "stache system plugin needs nodeList"
https://github.com/canjs/canjs/blob/master/view/stache/system.js#L26

`nodeList` needs to be passed in as an argument on L26, then passed in the returned function on L31.

Pseudo-test case is:

[code]

[2016-01-04 23:20] justinbmeyer commented on #2116
@pYr0x it works both ways.

[2016-01-04 23:25] alexisabril commented on #2166
Note: this issue needs a test

[2016-01-04 23:32] pYr0x commented on #2116
@justinbmeyer but you said

[2016-01-05 08:27] meconcomputer commented on #2120
@justinbmeyer Great to have a feedback.
  I always consider stability and flawless functionality in normal conditions (documentation based) as major attributes for a good framework. I chose CanJS because I sense it tends towards this.
  The way I see it there are two paths:
1. `modifiers` will still be considered an asset for the framework
2. in the near future, `modifiers` will be out of the fram

[2016-01-05 23:00] justinbmeyer commented on #2120
modifiers will be removed in 3.0.

if you want to work on it, we can setup a hangout (`justin@bitovi.com).  Just let me know when is a good time for you.

[2016-01-06 00:41] marshallswain opened #2167 "{($value)} doesn't behave the same as can-value"
I'm don't think this is on purpose, but
{($value)} doesn't behave the same as can-value.
{($checked)} behaves the same.

Here's a JSBin demonstrating the behavior.
http://marshallswain.jsbin.com/vofiyi/edit?html,js,console,output

[2016-01-06 01:35] pYr0x commented on #2167
phillipskevin  and justinbmeyer talked about that in gitter
https://gitter.im/canjs/canjs?at=56746e79b5777fb85ba4aa26

maybe it is the same problem as yours

[2016-01-06 01:56] justinbmeyer commented on #2167
value shouldn't behave the same as `can-value`.

[2016-01-06 01:58] phillipskevin commented on #2167
I think the confusion is just that the docs point you to use `{($value)}` in place of `can-value`: http://canjs.com/docs/can.view.bindings.can-value.html.

[2016-01-06 02:02] justinbmeyer commented on #2167
@phillipskevin Yep.  We should let people know that their choice of property/attribute matters with ({$value})

[2016-01-06 02:04] phillipskevin commented on #2167
Yep, and if there's a way to do radio buttons with the new binding syntax, we should add that too. When we discussed this before, @justinbmeyer, we decided the best way was to just use `can-value` for radio buttons.

[2016-01-06 02:14] justinbmeyer commented on #2167
If `type` was a property you wanted live-bound:

[code]

Something like that might work.  I'm not sure the first `%element.value` will work (but that can be fixed).

I've also thought about supporting:

[code]

or

[code]

but both feel weird.

[2016-01-07 01:25] DesignByOnyx opened #2169 "Parser is not allowing anchor tags as child of inline elements"
I have content which looks like this:

    <p><span>Some text with an <a>anchor</a> in it</span></p>

but since the anchor is defined as a block element, it is getting converted to this:

    <p><span>Some text with an </span><a>anchor</a> in it</p>

The anchor element is an inline element, but per html5 spec it's the only inline element which allows block level children. The parser should take th

[2016-01-07 02:59] justinbmeyer commented on #2169
This is a reversal of another filed bug. I think the solution is to mark everything as block and require that people close all tags.

Sent from my iPhone

[2016-01-07 19:50] marshallswain commented on #2167
@justinbmeyer, why shouldn't $value behave the same as can-value?

[2016-01-07 20:24] akagomez opened #2171 "Sort plugin causes "Max call stack size exceeded" error when large arrays are passed to the constructor"
Demo: http://jsbin.com/konado/edit?js,console

[2016-01-08 04:54] shubo22 opened #2172 "About documentation"
Documentation is not sufficient to develop one robust project. No book is present in the market. Its difficult to learn....

[2016-01-08 05:08] justinbmeyer commented on #2172
Is there some part of the docs you are missing?  There's been many projects developed from CanJS.  Please provide any specific concerns you have that we can address.

[2016-01-08 05:08] #2172 closed

[2016-01-08 15:04] rjgotten opened #2173 "can.Map.keys is broken for complementary attributes added onto can.List lists"
`can.Map.keys( map )` does not work properly on lists, even though getting/setting additional attributes works as expected and events properly dispatch to attached event listeners.

See: http://jsbin.com/hegozuwute/1/edit?html,js,console

It seems that, unlike `can.Map.prototype.___set`, `can.List.prototype.___set` does not update the backing private `_data` member of `can.Map` instances that the

[2016-01-08 20:40] mjstahl opened #2174 "Partial defined by registerView throws error after element is modified"
[code]

Uncaught TypeError: Cannot read property 'insertBefore' of null

can.insertBefore @ can.jquery.js:685add @ can.jquery.js:4325can.dispatch @ can.jquery.js:546can.batch.stop @ can.jquery.js:1433Map.extend.splice @ can.jquery.js:3246(anonymous function) @ dalamevoca.js:20

[2016-01-08 23:03] justinbmeyer opened #2176 "jQuery 2.2 compatible."
jQuery 2.2 was just released without a public .buildFragment.  We need to support it.

[2016-01-09 01:20] justinbmeyer commented on #2176
Related issue: https://github.com/jquery/jquery/issues/2225

[2016-01-11 04:07] lihan opened #2179 "@index is double wrapped compute object in mustache/stache helper in latest version (V2.3.8)"
The ``@index`` is rendered as a number in mustache template, but is a double wrapped compute object in mustache helper, see this JSBin for illustration. http://jsbin.com/misawebeza/1/edit?html,js,output

I have traced this issue all the way back to V2.2.5, the first version that ``@index`` works correctly in mustache helper. Refer to this JSBin (http://jsbin.com/jovotareni/1/edit?html,js,output) I

[2016-01-11 04:54] justinbmeyer commented on #2179
A breaking example in stache in 2.3.8: http://jsbin.com/patiho/edit?html,js,output

[2016-01-11 04:55] justinbmeyer commented on #2179
A workaround would be to make your helper check if it's still a compute and keep calling the compute.  We will look to have a fix soon.  Thanks for reporting.

[2016-01-11 16:57] pYr0x opened #2180 "canjs is not working with steal version 0.13"
i want to update steal and steal-tools to 0.13. but the PR failed.
https://github.com/canjs/canjs/pull/2178

[2016-01-11 17:28] matthewp commented on #2180
Are you sure it's Steal and not jQuery? I know that there are currently issues with jQuery 2.2 that was released last week.

[2016-01-11 18:50] pYr0x commented on #2180
@matthewp the error is related to mocha.
https://travis-ci.org/canjs/canjs/jobs/101397873#L1603

what does this have to do with jquery 2.2?

@mjstahl do you have make some changes to the canjs core that fix the error on travis ci?

[2016-01-11 19:04] mjstahl commented on #2180
@pYr0x I am running through the tests right now. I have reason to believe that the error messages on Travis are misleading. We will soon see.

#2175 Updates jQuery to not depend on 1.12 or 2.2.0. Hopefully this fixes the problems we are seeing.  We will release that change (and some bugfixes with partials) for 2.3.9.  @justinbmeyer is working a compatibility change for jquery 2.2.0 and 1.12.0.

[2016-01-11 21:06] mjstahl commented on #2163
@akagomez This seems to actually be a bug in `can.each`.

https://github.com/canjs/canjs/blob/master/list/list.js#L769 (forEach on can.List)
http://jsbin.com/vuvusowosa/edit?html,js,console (updated with can.each use case)

[2016-01-11 22:02] #2174 closed

[2016-01-11 22:33] mjstahl commented on #2180
@pYr0x I think we can close this. #2175 is working just fine, and has all of the updates in it.

[2016-01-11 22:37] pYr0x commented on #2180
@mjstahl ok, maybe we can release this soon, to check if can-ssr will also pass the tests

[2016-01-11 22:37] #2180 closed

[2016-01-11 22:59] #2166 closed

[2016-01-12 15:43] m-mujica opened #2182 "can.Map throws when creating an instance that includes an array value."
This is in can@2.3.9

[code]

[code]

my workaround was to import `can/list` along with `can/map`.

[2016-01-12 16:01] matthewp commented on #2182
Looking at the code it seems some effort was made not to make can/map depend on can/list, why is that @justinbmeyer ?

With that being the case I guess the solution is to check if can.List exists and not assume it does. Which would mean your arrays are not observable, probably not what you actually want.

[2016-01-12 17:18] justinbmeyer commented on #2182
Yeah, this isn't so much of an issue. I suppose we could leave arrays as arrays if List isn't imported.

Sent from my iPhone

[2016-01-12 17:42] matthewp commented on #2182
@justinbmeyer so why doesn't can/map depend on can/list?

I don't think silently making arrays non-observable is the way to go. We should at least provide a warning (I think an assertion is more appropriate).

[2016-01-12 17:42] matthewp commented on #2182
So it seems like maybe the reason it doesn't depend on can/list is to avoid a circular dependency. In that case I think an assertion is a good idea.

[2016-01-12 20:59] mjstahl opened #2183 "Update canjs.com `Getting Started` guide to canjs 2.3 (especially the new binding syntax)"

[2016-01-12 22:55] pYr0x opened #2185 "Server Side Rendering with can-ssr and the new binding syntax is not working"
hallo,
i have tested can-ssr and made a simple example:

app.js
[code]

index.stache
[code]

package.json
[code]

the binding with the reference scope (see index.stache) is not working!
the can-server throw an warning ```WARN: can/view/stache/mustache_core.js: Unable to find key or helper "*bar".```

i can't also make this
[code]
no value is displayed.

**remember {{foo}} is "test" in the AppMap a

[2016-01-12 23:25] justinbmeyer commented on #2185
Did you write your template correct? The input should be blank with {($value)}="*bar"

Sent from my iPhone

[2016-01-12 23:26] justinbmeyer commented on #2185
Instead of

{$value}="foo"

Do

value="{{foo}}"

Sent from my iPhone

[2016-01-12 23:27] matthewp commented on #2185
So you're expecting it to output something like `<input type="text" value="test">`?  I guess this is because can/view/bindings sets the value property and not the value attribute. But maybe it should when server-side rendered.  I think you probably want the placeholder attribute in this case though.

[2016-01-12 23:40] pYr0x commented on #2185
the expected behavior is not to have ```<input type="text" value="test">``` the ```{$value}="foo"``` was only a test that was also not working.

the expected behavior was to have an input field with a reference binding to ```bar```. that variable should be displayed before the input field. like the ```index.stache``` looks like.

@justinbmeyer what to you mean with

[code]
??

@matthewp this examp

[2016-01-13 17:26] phillipskevin opened #2186 "{{#if}} statement within partial gets displayed outside partial"
If a template displays a partial under a certain condition (`showPartial` in my example), like:

[code]

and then the partial also displays something based on another condition (`showHiddenSection`):

[code]

It is possible to cause the hidden section to be displayed entirely outside of the partial.
Here is a GIF showing the hidden section repeatedly duplicated outside of the partial:

![partial-i

[2016-01-13 19:39] akagomez opened #2187 "Nested event batching dispatches in unexpected order"
The problem looks something like this...

[code]

Here's a JSBin that demonstrates the issue: http://jsbin.com/fuwuvu/2/edit?js,console

It seems `event B` is being added to `batch #2` while `batch #1` is dispatching its events. When `batch #2` is stopped, `event C` is dispatched immediately because there is no `collectingBatch`. Or in other words, events aren't being queued because all batches (`

[2016-01-13 22:35] justinbmeyer commented on #2187
Yes, this is a consequence of an `undefined` behavior when events are triggered outside of a batch within another batch being dispatched.

My guess is that if you changed your code to do:

[code]

Everything would work fine.

One option might be to force any triggering of events to be part of a "solo" batch.   This would automatically dispatch C after B without having to wrap it with `start`/`stop

[2016-01-13 23:26] justinbmeyer commented on #2186
Thanks @phillipskevin .  Anyway you can remove the use of the component and routing?  It will be probably ready for a quick insertion into a test at that point.  Thanks again.

[2016-01-13 23:48] phillipskevin commented on #2186
@justinbmeyer, here is a simplified example: http://jsbin.com/dizuxanide/edit?html,js,output.

If you point me to the right place, I can attempt to put in a test.

[2016-01-14 04:16] justinbmeyer commented on #2186
@phillipskevin It would be in `can/view/stache/stache_test.js`.  Ideally you shouldn't have to append it to the DOM like the vast majority of the other tests.

[2016-01-14 04:33] justinbmeyer opened #2188 "nested switch statements cause a nodeList error"
[code]

throws an error like:

[code]

[2016-01-14 04:57] justinbmeyer commented on #2186
@phillipskevin I'd be interested if #2189 fixes it.  You might try to make that small change locally and see if your problem sticks around.

[2016-01-14 05:08] phillipskevin commented on #2186
@justinbmeyer the fix for https://github.com/canjs/canjs/pull/2189 doesn't resolve my issue. I should have time to submit a test for this tomorrow.

[2016-01-14 17:56] phillipskevin commented on #2186
@justinbmeyer the test is on this branch: https://github.com/canjs/canjs/tree/if-partial-if-2186.

[2016-01-14 20:00] mjstahl opened #2190 "Update canjs API docs for 2.3"

[2016-01-15 00:28] #2188 closed

[2016-01-15 02:52] ilyavf opened #2191 "A property that is updated in a batch is not rendered correctly."
Simplified example: http://jsbin.com/cicazo/edit?js,output
Bit-tabs example: http://jsbin.com/jiluqi/edit?html,js,output

I ran into this using bit-tabs when tried to show bit-tabs conditionally. The panels.length would stay 0 when two panels present, and this is causing the component not being displayed correctly (panels are missing). The viewModel's values are OK.

If a conditional property is c

[2016-01-15 05:08] justinbmeyer commented on #2191
please try with 2.3.10 and let us know if this is still breaking.

[2016-01-15 05:08] justinbmeyer commented on #2191
seems similar to #2186

[2016-01-15 05:51] ilyavf commented on #2191
The test is still breaking in 2.3.10.

[2016-01-15 06:45] ilyavf commented on #2191
The test requires a component being inserted into DOM to fire the inserted event.

[2016-01-15 14:47] reno1979 opened #2192 "$.buildFragment is not a function"
Using the latest jquery build, the buildFragment function is no longer exposed by jQuery.  (1.12.0)

see:  https://github.com/jquery/jquery/issues/2224

Thus canjs is throwing an error

[2016-01-15 14:49] matthewp commented on #2192
Thanks for reporting. This is being worked on in https://github.com/canjs/canjs/issues/2176 so will close this.

[2016-01-15 14:49] #2192 closed

[2016-01-17 00:51] cherifGsoul opened #2193 "can.Map.keys dosent work with can.define"
```can.Map.keys(map)``` return an empty array when attrs are defined with ```map-define``` plugin as demonstrated in this link http://jsbin.com/lediwa/edit?html,js,console,output

[2016-01-18 18:21] dylanrtt commented on #2193
I think a more precise description would be that virtual properties are not included in the output of `can.Map.keys(map)`. If the map has real properties, those will still be in the array.

What should the rules be for including virtual properties? This is where it could get tricky.

If you want to exclude keys with `undefined` value, unbound properties will have to be run when `keys(map)` is call

[2016-01-18 19:49] ilyavf commented on #2191
A scenario without a batch: if the visibility property has a setter then stache does not update the template:

http://jsbin.com/fekava/edit?js,output

[code]

[2016-01-18 20:25] dylanrtt commented on #2191
I think that's because the presence of a setter [adds a batch](https://github.com/canjs/canjs/blob/master/map/define/define.js#L143), so it's still a batching issue.

[2016-01-19 14:32] srasp opened #2194 "_backupStore not initialized when a can.Map attribute is a can.List"
Hi,

I had an issue with the backup plugin for can.Map.
When an attribute of a can.Map is type of can.List and you call method backup for this attribute the _backupStore is not initialized.

See http://jsbin.com/catesenufu/edit?html,css,js,console,output

I have fixed it for me by initializing the backup store before the attributes set to it.

File: backup.js
Line: 33ff

backup: function () {

[2016-01-19 18:32] prashantsharmain opened #2195 "Deprecate plugins that are no longer used"
Deprecate the following plugins that are no longer used:
 - can/map/attributes
 - can/map/setter

[2016-01-19 19:52] akagomez opened #2196 "Sort plugin breaks inheritance of .splice()"
`Array.prototype.splice` is called:

https://github.com/canjs/canjs/blob/master/list/sort/sort.js#L379

It should use `oldSplice`:

https://github.com/canjs/canjs/blob/master/list/sort/sort.js#L404

[2016-01-20 08:50] rjgotten commented on #2196
@akagomez
Isn't it using the direct `Array.prototype.splice` in that location exactly because it's necessary to avoid the change events that `can.List.prototype.splice` triggers?

[2016-01-20 15:23] akagomez commented on #2196
I don't suspect so. Triggering "change" events is fine. Binding to them should be avoided.

The sort plugin triggers "add" events in the same way `can.List.prototype.splice` does:

https://github.com/canjs/canjs/blob/master/list/sort/sort.js#L382
https://github.com/canjs/canjs/blob/master/list/list.js#L334

[2016-01-20 23:24] ramblinjan opened #2197 "With ($event)="expr()" syntax, provide default arguments for handlers"
Currently there is no way to use the `($event)` syntax to call a handler with the default arguments (`element, event, scope, arguments...`).

Additionally, for custom event triggers, you lose the additional arguments with this syntax.

Proposal:
- When you do `expr()`, the default arguments for handlers should be passed in.

[2016-01-21 00:32] justinbmeyer commented on #2197
Yeah, you do:

[code]

I don't think that should happen.  Sometimes methods check the number of arguments and you'll need a way to call an argument without any arguments.

I think we need an `%arguments` special key and a spread operator.

[2016-01-21 06:20] dylanrtt commented on #1762
Hmm, I guess there are still some cases where the 2-way binding behavior isn't working as expected.

http://jsbin.com/nojikisobe/edit?html,js,console,output

If the parent/scope has a value that is not present in the options initially, the `<select>` element displays no selected value, which is correct. However, if an option matching the parent/scope value is added...

1) The `<select>` element sh

[2016-01-21 21:19] justinbmeyer opened #2198 "can.batch.afterPreviousEvents firing too late"
`can.batch.afterPreviousEvents` should callback after all previous events have been fired and before any future events have been fired.  This isn't the case in the following example: http://jsbin.com/voruli/edit?html,js,console

[2016-01-21 21:30] justinbmeyer opened #2199 "calling methods directly on an instance of a can.Map with can.compute.read"
this doesn't work, it only reads functions on the prototype.

[2016-01-21 21:38] justinbmeyer opened #2200 "we might need block level scope abilities"
[code]

[2016-01-21 21:43] justinbmeyer opened #2201 "Current context can't be passed within a component that has leakScope: false"

[2016-01-21 21:48] justinbmeyer opened #2202 "Keys aren't documented"
http://canjs.com/docs/can.stache.key.html

[2016-01-21 22:17] dylanrtt commented on #2201
[code]

The context passed is the viewmodel of `<parent-comp>` even though it is `leakScope:false`. It should be the scope above `<parent-comp>`.

http://jsbin.com/sihogovema/edit?html,js,console

[2016-01-21 22:25] dylanrtt commented on #2199
My use case for this was creating a mixin for bit-tabs that binds the active tab to the route's `tabId`.

[code]

[2016-01-21 22:32] dylanrtt commented on #2200
This came about because I am using a helper to create child reference scopes in `#each` blocks, but I also want scope reads in those blocks to fall through to the parent reference scope.

[code]

[code]

[2016-01-21 23:22] #2176 closed

[2016-01-21 23:38] #2198 closed

[2016-01-22 02:46] justinbmeyer commented on #2201
The following test passes:

[code]

[2016-01-22 02:52] justinbmeyer commented on #2201
@dylanrtt With a template, the scope is not leaked: http://justinbmeyer.jsbin.com/sihogovema/1/edit?html,js,console

Can you remind me again of why you would have a component without a template that you would not want to leak?

I'm not sure if this behavior is documented outside of the code:

https://github.com/canjs/canjs/blob/master/component/component.js#L103

If it is documented (I'm on a very

[2016-01-22 03:13] justinbmeyer commented on #2199
I'm thinking of changing the logic to always call `.attr(prop)` and if that returns undefined, to return `this[prop]`.

[2016-01-22 04:05] justinbmeyer commented on #2193
@cherifGsoul What problem is is this causing?  What's the use case for having a virtual property be returned by `keys`?

I wonder there wouild be a high correlation with  `serialize: true` virtual properties and the properties you'd want to be present in `.keys()`

[2016-01-22 04:22] dylanrtt commented on #2201
The pattern is a template-less logic component that wraps around a simple ui component. When the ui component's state changes, the logic component performs an action.

[code]

This is the pattern that my coworker introduced for dropdowns and it has worked alright so far. There are certainly other ways to do this such as a custom attribute on the ui component that performs the logic, which I think

[2016-01-22 08:45] reno1979 opened #2205 "createAttribute is deprecated"
Firefox development version shows me :

Use of document.createAttribute() is deprecated. Use element.setAttribute() instead.

(canjs version 2.3.11 )

[code]

[2016-01-22 18:32] cherifGsoul commented on #2193
@justinbmeyer it was a question posted in gitter maybe users need it for some reason but the correlation between ```serialize``` and ```keys``` might be true

[2016-01-23 07:33] dylanrtt opened #2206 "Route/Map triggering too many changes"
I'm not sure if this can be reproduced without the can.route. If I just use a map, this bug does not occur.

http://jsbin.com/pajewebezu/edit?html,js,console,output

[code]

[2016-01-23 09:44] whitecolor opened #2207 "jquery 2.2 in peer deps not supported"
[code]

[2016-01-24 15:23] julia-allyce opened #2210 "Document Form Examples for Stache"
It would be nice to have a section in the stache documentation, dedicated just to forms with the new binding syntax.

For example:
- how to handle simple 2-way bound text inputs
- how to create an array of values from a group of checkboxes
- how to handle selects and multiselects etc, etc

Here are angular's docs for forms:
https://docs.angularjs.org/guide/forms